<section>
  <div class="loginMainDIV">
    <div>
      <!-- header section  -->

      <div class="headerDiv">
        <a class="RegisLoginBTN" href="" routerLink="/login"
          routerLinkActive="router-link-active">Register/Login</a>
        <a class="helpBTN" href="" routerLink="/home" routerLinkActive="router-link-active">Help</a>
      </div>
    </div>

<!-- registration pages  -->

<div class="logo">
  <img class="logooImg" src="../..//../assets/images/regform/reg.png" alt="">

  <p>Registration</p>
</div>

<div class="regAllBtn">

<div class="inputDiv">
  <p>First Name</p>
  <input class="InputFiled" type="text" name="" id="" placeholder="First Name">
</div>


<div class="inputDiv">
  <p>Last Name</p>
  <input class="InputFiled" type="text" name="" id="" placeholder="Last Name">
</div>


<div class="inputDiv">
  <p>Gender</p>
  <select  class="InputFiled">
    <option *ngFor="let option of genders" class=" select">{{option}}</option>
</select>
</div>

<div class="inputDiv">
  <p>Religion</p>
  <input class="InputFiled" type="text" name="" id="" placeholder="Religion">
</div>

<div class="inputDiv">
  <p>Blood Group</p>
  <select  class="InputFiled">
    <option *ngFor="let option of bloodGroup" class=" select">{{option}}</option>
</select>
</div>

<div class="inputDiv">
  <p>Date Of Birth</p>
  <input class="InputFiled" type="date" name="" id="" >

</div>

<div class="inputDiv">
  <p>Phone Number</p>
  <input class="InputFiled" type="text" name="" id="" placeholder="Enter Your Phone Number Here">
</div>

<a class="submit" href="" routerLink="/addressform" routerLinkActive="router-link-active">Continue </a>
<!-- <input class="submit" type="submit" value="Continue"> -->
</div>


  </div>

  <div class="Info">
    <div class="SubInfo">
      <p class="Pleaselogin">www.stgoals.com</p>
      <p class="Pleaselogin">Powered by MY SOFTAKE</p>
    </div>
  </div>
</section>

<!-- <a href="" [routerLink]="['regform']" routerLinkActive="router-link-active" >login</a> -->
