   <!---blog-card-->
   <div class="blog-card">
    <div class="blog-image">
        <a href="#">
            <img src="./assets/images/image/blog-1.jpg" alt="">
        </a>
    </div>
    <!--blog-body-->
    <div class="blog-body">
        <ul>
            <li><i class="fa fa-user"></i> Admin</li>
            <li><i class="fa fa-calendar"></i> february 02, 2021</li>
        </ul>
        <div class="blog-title">
            <a href="#">Voluptate blanditiis provident Lorem ipsum dolor sit amet</a>
        </div>
        <div class="blog-des">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Alias autem recusandae deleniti nam dignissimos sequi ... </p>
        </div>
        <div class="read-more">
            <a href="#">Read More <i class="fa fa-arrow-right"></i></a>
        </div>
    </div>
</div>
