<section>
  <div class="loginMainDIV">
    <div>
      <!-- header section  -->

      <div class="headerDiv">
        <a class="RegisLoginBTN" href="" routerLink="/login"
          routerLinkActive="router-link-active">OTP</a>
        <a class="helpBTN" href="" routerLink="/home" routerLinkActive="router-link-active">Help</a>
      </div>
    </div>

    <!-- otp section  -->
    <div class="otpMainDiv">
      <div class="otpBannerDiv">
        <img class="otpImg" src="../../../assets/images/banner/otpBanner.png" alt="" />

      </div>

      <div class="otpCodeDiv">


          <div class="logoDiv">
            <img class="logoImg" src="../../../assets/images/regform/reg.png" alt="">
          </div>

        <p class="otpText1">Enter Your OTP for Your Verification</p>
        <h1 class="otpText2">OTP  is send your mobile number,
          Please Verify</h1>


          <div class="otpInputFiled">
            <input class="otpInFild" type="text" name="" id="">
            <input class="otpInFild" type="text" name="" id="">
            <input class="otpInFild" type="text" name="" id="">
            <input class="otpInFild" type="text" name="" id="">
            <input class="otpInFild" type="text" name="" id="">
          </div>

          <h1 class="otpText3"><span class="otpText4">Resend</span> in 60 seconds</h1>

          <a class="VerifyBTN" href="" routerLink="/userlogin" routerLinkActive="router-link-active" >Verify</a>
      </div>



    </div>
  </div>

  <div class="Info">
    <div class="SubInfo">
      <p class="Pleaselogin">www.stgoals.com</p>
      <p class="Pleaselogin">Powered by MY SOFTAKE</p>
    </div>
  </div>
</section>

<!-- <a href="" [routerLink]="['userlogin']" routerLinkActive="router-link-active" >login</a> -->
