<div class="noti-Slider notiMaunDiv">
  <div class="notifyDiv">
    <h1 class="notiHeader">Notification</h1>
    <div class="allUnreadDiv">
      <button class="AllNotiBtn">All</button>
      <button class="UnreadBtn">Unread</button>
    </div>

    <div class="newSeeAllDiv">
      <h1 class="newHeader">New</h1>
      <!-- <a class="SeeAllBtn" routerLink="/notification">See All</a> -->
    </div>

    <div class="notifyprofileDiv">
      <img class="notifyprofileImg" src="../../../assets/images/postProfile/Ellipse 19.png" alt="" />
      <div class="notifyprofileInfo">
        <h1 class="notifyprofileName">Fazlul Hauque React on your post</h1>
        <p class="notifyReactionTime">About 1 hour ago</p>
      </div>
      <img class="reactionImg" src="../../../assets/images/reaction/Rlike.png" alt="" />
    </div>

    <div class="notifyprofileDiv">
      <img class="notifyprofileImg" src="../../../assets/images/postProfile/Ellipse 19.png" alt="" />
      <div class="notifyprofileInfo">
        <h1 class="notifyprofileName">Fazlul Hauque React on your post</h1>
        <p class="notifyReactionTime">About 1 hour ago</p>
      </div>
      <img class="reactionImg" src="../../../assets/images/reaction/Runlike.png" alt="" />
    </div>

    <div class="notifyprofileDiv">
      <img class="notifyprofileImg" src="../../../assets/images/postProfile/Ellipse 19.png" alt="" />
      <div class="notifyprofileInfo">
        <h1 class="notifyprofileName">Fazlul Hauque React on your post</h1>
        <p class="notifyReactionTime">About 1 hour ago</p>
      </div>
      <img class="reactionImg" src="../../../assets/images/reaction/Rheart.png" alt="" />
    </div>

    <!-- l --------------------------------------------------------------------------- -->

    <h1 class="newHeader">Earlier</h1>

    <div class="notifyprofileDiv">
      <img class="notifyprofileImg" src="../../../assets/images/postProfile/Ellipse 19.png" alt="" />
      <div class="notifyprofileInfo">
        <h1 class="notifyprofileName">Fazlul Hauque React on your post</h1>
        <p class="notifyReactionTime">About 1 hour ago</p>
      </div>
      <img class="reactionImg" src="../../../assets/images/reaction/Rlike.png" alt="" />
    </div>

    <div class="notifyprofileDiv">
      <img class="notifyprofileImg" src="../../../assets/images/postProfile/Ellipse 19.png" alt="" />
      <div class="notifyprofileInfo">
        <h1 class="notifyprofileName">Fazlul Hauque React on your post</h1>
        <p class="notifyReactionTime">About 1 hour ago</p>
      </div>
      <img class="reactionImg" src="../../../assets/images/reaction/Runlike.png" alt="" />
    </div>

    <div class="notifyprofileDiv">
      <img class="notifyprofileImg" src="../../../assets/images/postProfile/Ellipse 19.png" alt="" />
      <div class="notifyprofileInfo">
        <h1 class="notifyprofileName">Fazlul Hauque React on your post</h1>
        <p class="notifyReactionTime">About 1 hour ago</p>
      </div>
      <img class="reactionImg" src="../../../assets/images/reaction/Rheart.png" alt="" />
    </div>

    <div class="notifyprofileDiv">
      <img class="notifyprofileImg" src="../../../assets/images/postProfile/Ellipse 19.png" alt="" />
      <div class="notifyprofileInfo">
        <h1 class="notifyprofileName">Fazlul Hauque React on your post</h1>
        <p class="notifyReactionTime">About 1 hour ago</p>
      </div>
      <img class="reactionImg" src="../../../assets/images/reaction/Rlike.png" alt="" />
    </div>

    <div class="notifyprofileDiv">
      <img class="notifyprofileImg" src="../../../assets/images/postProfile/Ellipse 19.png" alt="" />
      <div class="notifyprofileInfo">
        <h1 class="notifyprofileName">Fazlul Hauque React on your post</h1>
        <p class="notifyReactionTime">About 1 hour ago</p>
      </div>
      <img class="reactionImg" src="../../../assets/images/reaction/Runlike.png" alt="" />
    </div>

    <div class="notifyprofileDiv">
      <img class="notifyprofileImg" src="../../../assets/images/postProfile/Ellipse 19.png" alt="" />
      <div class="notifyprofileInfo">
        <h1 class="notifyprofileName">Fazlul Hauque React on your post</h1>
        <p class="notifyReactionTime">About 1 hour ago</p>
      </div>
      <img class="reactionImg" src="../../../assets/images/reaction/Rheart.png" alt="" />
    </div>
  </div>
</div>
