<section>
  <div class="institute-list-Main-Div">
    <!-- add Institute Div   start Here   ------------------------------------------------------------>

    <div class="add-Institute-Div">
      <a class="addInstituteLink" href="">Add Your Institute</a>

      <div class="advertigeDiv">
        <p class="advertigeTag">Advertige</p>
      </div>

      <div class="advertigeDiv">
        <p class="advertigeTag">Advertige</p>
      </div>
    </div>

    <!-- Listed Institute Div start Here -*------------------------------------------------------ -->

    <div class="listed-Institute-Main-Div">
      <h1 class="listed-Header">Listed Institute</h1>

      <!-- search institute section  -->

      <div class="search-Field-Div">
        <input class="search-Field" type="" name="" id="" placeholder="Search Institutes" />
        <span class="matIcon">
          <mat-icon class="matIcon1">search</mat-icon>
        </span>
      </div>

      <!-- institute details card section  -->

      <div class="institute-details-card-Div">
        <div class="institute-details-div">
          <h1 class="institute-name">Rajuk Uttara Model College</h1>
          <p class="institute-address">Uttara, Dhaka- 1230.</p>
        </div>

        <div class="institute-details-Btn-div">
          <a  class="institute-details-Btn" routerLink="/institute-chart">Details</a>
        </div>
      </div>

      <div class="institute-details-card-Div">
        <div class="institute-details-div">
          <h1 class="institute-name">Rajuk Uttara Model College</h1>
          <p class="institute-address">Uttara, Dhaka- 1230.</p>
        </div>

        <div class="institute-details-Btn-div">
          <a  class="institute-details-Btn" routerLink="/institute-chart">Details</a>
        </div>
      </div>

      <div class="institute-details-card-Div">
        <div class="institute-details-div">
          <h1 class="institute-name">Rajuk Uttara Model College</h1>
          <p class="institute-address">Uttara, Dhaka- 1230.</p>
        </div>

        <div class="institute-details-Btn-div">
          <a  class="institute-details-Btn" routerLink="/institute-chart">Details</a>
        </div>
      </div>

      <div class="institute-details-card-Div">
        <div class="institute-details-div">
          <h1 class="institute-name">Rajuk Uttara Model College</h1>
          <p class="institute-address">Uttara, Dhaka- 1230.</p>
        </div>

        <div class="institute-details-Btn-div">
          <a  class="institute-details-Btn" routerLink="/institute-chart">Details</a>
        </div>
      </div>

      <div class="institute-details-card-Div">
        <div class="institute-details-div">
          <h1 class="institute-name">Rajuk Uttara Model College</h1>
          <p class="institute-address">Uttara, Dhaka- 1230.</p>
        </div>

        <div class="institute-details-Btn-div">
          <a  class="institute-details-Btn" routerLink="/institute-chart">Details</a>
        </div>
      </div>

      <div class="institute-details-card-Div">
        <div class="institute-details-div">
          <h1 class="institute-name">Rajuk Uttara Model College</h1>
          <p class="institute-address">Uttara, Dhaka- 1230.</p>
        </div>

        <div class="institute-details-Btn-div">
          <a  class="institute-details-Btn" routerLink="/institute-chart">Details</a>
        </div>
      </div>

      <div class="institute-details-card-Div">
        <div class="institute-details-div">
          <h1 class="institute-name">Rajuk Uttara Model College</h1>
          <p class="institute-address">Uttara, Dhaka- 1230.</p>
        </div>

        <div class="institute-details-Btn-div">
          <a  class="institute-details-Btn" routerLink="/institute-chart">Details</a>
        </div>
      </div>
    </div>
  </div>
</section>
