<section>
  <div class="card-section-main-div">
    <h1>Card Section</h1>

    <!-- card-design-section-main-div ------------------------------------------- -->
    <div class="card-design-section-main-div">
      <!-- left-side-div------------------------------------------------------ -->
      <div class="left-side-div">
        <div class="input-div">
          <p>Name</p>
          <input class="input-filed" type="text" name="" id="" />
        </div>

        <div class="input-div">
          <p>Institute Name:</p>
          <input class="input-filed" type="text" name="" id="" />
        </div>

        <div class="input-div">
          <p>Birth of date:</p>
          <input class="input-filed" type="text" name="" id="" />
        </div>

        <div class="input-div">
          <p>Bood Group:</p>
          <select name="" id="" class="input-filed">
            <option value="">AB+</option>
            <option value="">AB-</option>
            <option value="">A+</option>
            <option value="">A-</option>
            <option value="">B+</option>
            <option value="">B-</option>
            <option value="">O+</option>
            <option value="">O-</option>
          </select>
        </div>

        <div class="input-div">
          <p>Address:</p>
          <input class="input-filed" type="text" name="" id="" />
        </div>

        <div class="input-div">
          <p>Phone:</p>
          <input class="input-filed" type="text" name="" id="" />
        </div>

        <div class="input-div">
          <p>ROLL:</p>
          <input class="input-filed" type="text" name="" id="" />
        </div>

        <div class="input-div">
          <p>ADD Photo:</p>
          <input class="input-filed-file" type="file" name="" id="" />
        </div>
      </div>

      <!-- right-side-div-------------------------------------- -->
      <div class="right-side-div">
        <!-- tab-card-design-div ------------------------------------- -->
        <div class="tab-card-design-div">
          <p>Rajuk Uttara Model College</p>
          <div class="card-info-div">
            <div class="img-div">
              <img
                src="../../../assets/images/banner/Rectangle 429.png"
                alt=""
              />
            </div>
            <div class="profile-info-div">
              <p>NAME: MD Monir Ahmed</p>
              <p>Roll: 00011543</p>
              <p>Blood Group: B+</p>
              <p>Phone: 016253458</p>
            </div>
          </div>
        </div>

        <!-- mobile-card-design-div---------------------------- -->
        <div class="mobile-card-design-div">
          <img src="../../../assets/images/banner/Rectangle 429.png" alt="" />

          <p>Rajuk Uttara Model College</p>
          <p>NAME: MD Monir Ahmed</p>
          <p>Roll: 00011543</p>
          <p>Blood Group: B+</p>
          <p>Phone: 016253458</p>
        </div>
      </div>
    </div>
  </div>
</section>
