.card-section-main-div {
  padding-bottom: 60px;

  h1 {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    color: #000000;
    padding: 30px 0;
  }

  // card-design-section-main-div start -------------------------------------
  .card-design-section-main-div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;

    // left-side-div-------------------------------------------------------
    .left-side-div {
      .input-div {
        margin-top: 20px;

        p {
          font-family: "Inter";
          font-style: normal;
          font-weight: 500;
          font-size: 18px;
          line-height: 22px;
          /* identical to box height */

          color: #000000;
        }

        .input-filed {
          width: 30vw;
          height: 45px;
          background: #ffffff;
          border: 1px solid rgba(0, 0, 0, 0.24);
          box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
          padding-left: 11px;
          margin-top: 10px;

          font-family: "Inter";
          font-style: normal;
          font-weight: 600;
          font-size: 18px;
          line-height: 22px;
        }

        .input-filed-file {
          margin-top: 15px;
        }
      }
    }

    // right-side-div-------------------------------------------------


    .right-side-div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 80px;
      // tab-card-design-div ------------------------------
      .tab-card-design-div {
        width: 525px;
        height: 310px;

        background: #e45720;
        border: 3px solid #000000;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

        p {
          font-family: "Inter";
          font-style: normal;
          font-weight: 600;
          font-size: 18px;
          line-height: 22px;
          /* identical to box height */
          text-align: center;
          padding: 20px 0;

          color: #ffffff;
        }

        .card-info-div {
          display: grid;
          grid-template-columns: 0.8fr 1fr;
          gap: 20px;

          .img-div {
            display: flex;
            justify-content: end;
            img {
              width: 50%;
              height: 119px;
            }
          }

          .profile-info-div {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            p {
              font-family: "Inter";
              font-style: normal;
              font-weight: 600;
              font-size: 18px;
              line-height: 22px;
              /* identical to box height */
              padding: 10px 0;

              color: #ffffff;
            }
          }
        }
      }

      // mobile-card-design-div -----------------------

      .mobile-card-design-div {
        gap: 20px;
        display: flex;
        flex-direction: column;
        // justify-content: center;
        align-items: center;
        width: 321px;
        height: 478px;

        background: #ffffff;
        border: 3px solid #e45720;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

        img {
          padding-top: 20px;
          width: 35%;
          height: 119px;
        }

        p {
          font-family: "Inter";
          font-style: normal;
          font-weight: 600;
          font-size: 18px;
          line-height: 22px;
          /* identical to box height */

          color: #000000;
        }
      }
    }
  }
}
