<div class="product">
  <div class="product-image">
    <img src="{{ product.image }}" alt="" />
    <div class="icons">
       <ul>
         <li><a href="#"><i class="fa-solid fa-shuffle"></i></a></li>
         <li><a href="#"><i class="fa fa-play"></i></a></li>
         <li><a href="#"><i class="fa fa-eye"></i></a></li>
       </ul>
    </div>
    <!--tag-->
     <div class="tag">
        <span>New</span>
     </div>
    <!---wish-->
    <span class="wish"><i class="fa fa-heart"></i></span>
  </div>
  <div class="product-body">
    <div class="rating-area">
      <ul>
         <li><i class="fa fa-star"></i></li>
         <li><i class="fa fa-star"></i></li>
         <li><i class="fa fa-star"></i></li>
         <li><i class="fa fa-star"></i></li>
         <li><i class="fa fa-star"></i></li>
         <li><span>(3)</span></li>
      </ul>
    </div>
    <a href="#">{{ product.name }}</a>
    <div class="product-price">
      <span class="prevPrice">${{ product.prvPrice }}</span> <span class="currPrice">${{ product.currPrice }}/<small>{{ product.unit }}</small></span>
    </div>
    <button class="product-button"><i class="fa-solid fa-basket-shopping"></i> Add</button>
  </div>
  </div>
