<section>
  <div class="carriculam-main-div">
    <h1>Routine</h1>

    <div class="carriculam-sub-main-div">
      <!-- left side section start here --------------------------------------- -->
      <div class="left-side-div">
        <h1>Calss Routine</h1>

        <div class="class-view-div">
          <div class="subClass-view-div">
            <div class="name-header-div">
              <h1 class="Class">Class</h1>
              <h1 class="Class-Link">Online Class Link</h1>
            </div>

            <div class="class-div">
              <button class="class-btn">Class 1</button>
              <button class="view-bttn">
                <img src="../../../assets/images/banner/icon-park-outline_preview-open.png" alt="" />
              </button>
              <button class="download-btn">
                <img src="../../../assets/images/banner/ant-design_download-outlined.png" alt="" />
              </button>
              <div class="subclick-link-div">
                <button class="click-link-Btn">Click Link</button>
              </div>
            </div>

            <div class="class-div">
              <button class="class-btn">Class 2</button>
              <button class="view-bttn">
                <img src="../../../assets/images/banner/icon-park-outline_preview-open.png" alt="" />
              </button>
              <button class="download-btn">
                <img src="../../../assets/images/banner/ant-design_download-outlined.png" alt="" />
              </button>
              <div class="subclick-link-div">
                <button class="click-link-Btn">Click Link</button>
              </div>
            </div>

            <div class="class-div">
              <button class="class-btn">Class 3</button>
              <button class="view-bttn">
                <img src="../../../assets/images/banner/icon-park-outline_preview-open.png" alt="" />
              </button>
              <button class="download-btn">
                <img src="../../../assets/images/banner/ant-design_download-outlined.png" alt="" />
              </button>
              <div class="subclick-link-div">
                <button class="click-link-Btn">Click Link</button>
              </div>
            </div>

            <div class="class-div">
              <button class="class-btn">Class 4</button>
              <button class="view-bttn">
                <img src="../../../assets/images/banner/icon-park-outline_preview-open.png" alt="" />
              </button>
              <button class="download-btn">
                <img src="../../../assets/images/banner/ant-design_download-outlined.png" alt="" />
              </button>
              <div class="subclick-link-div">
                <button class="click-link-Btn">Click Link</button>
              </div>
            </div>

            <div class="class-div">
              <button class="class-btn">Class 5</button>
              <button class="view-bttn">
                <img src="../../../assets/images/banner/icon-park-outline_preview-open.png" alt="" />
              </button>
              <button class="download-btn">
                <img src="../../../assets/images/banner/ant-design_download-outlined.png" alt="" />
              </button>
              <div class="subclick-link-div">
                <button class="click-link-Btn">Click Link</button>
              </div>
            </div>

            <div class="class-div">
              <button class="class-btn">Class 6</button>
              <button class="view-bttn">
                <img src="../../../assets/images/banner/icon-park-outline_preview-open.png" alt="" />
              </button>
              <button class="download-btn">
                <img src="../../../assets/images/banner/ant-design_download-outlined.png" alt="" />
              </button>
              <div class="subclick-link-div">
                <button class="click-link-Btn">Click Link</button>
              </div>
            </div>

            <div class="class-div">
              <button class="class-btn">Class 7</button>
              <button class="view-bttn">
                <img src="../../../assets/images/banner/icon-park-outline_preview-open.png" alt="" />
              </button>
              <button class="download-btn">
                <img src="../../../assets/images/banner/ant-design_download-outlined.png" alt="" />
              </button>
              <div class="subclick-link-div">
                <button class="click-link-Btn">Click Link</button>
              </div>
            </div>

            <div class="class-div">
              <button class="class-btn">Class 8</button>
              <button class="view-bttn">
                <img src="../../../assets/images/banner/icon-park-outline_preview-open.png" alt="" />
              </button>
              <button class="download-btn">
                <img src="../../../assets/images/banner/ant-design_download-outlined.png" alt="" />
              </button>
              <div class="subclick-link-div">
                <button class="click-link-Btn">Click Link</button>
              </div>
            </div>

            <div class="class-div">
              <button class="class-btn">Class 9</button>
              <button class="view-bttn">
                <img src="../../../assets/images/banner/icon-park-outline_preview-open.png" alt="" />
              </button>
              <button class="download-btn">
                <img src="../../../assets/images/banner/ant-design_download-outlined.png" alt="" />
              </button>
              <div class="subclick-link-div">
                <button class="click-link-Btn">Click Link</button>
              </div>
            </div>

            <div class="class-div">
              <button class="class-btn">Class 10</button>
              <button class="view-bttn">
                <img src="../../../assets/images/banner/icon-park-outline_preview-open.png" alt="" />
              </button>
              <button class="download-btn">
                <img src="../../../assets/images/banner/ant-design_download-outlined.png" alt="" />
              </button>
              <div class="subclick-link-div">
                <button class="click-link-Btn">Click Link</button>
              </div>
            </div>

            <div class="class-div">
              <button class="class-btn">Class 11</button>
              <button class="view-bttn">
                <img src="../../../assets/images/banner/icon-park-outline_preview-open.png" alt="" />
              </button>
              <button class="download-btn">
                <img src="../../../assets/images/banner/ant-design_download-outlined.png" alt="" />
              </button>

              <div class="subclick-link-div">
                <button class="click-link-Btn">Click Link</button>
              </div>
            </div>

            <div class="class-div">
              <button class="class-btn">Class 12</button>
              <button class="view-bttn">
                <img src="../../../assets/images/banner/icon-park-outline_preview-open.png" alt="" />
              </button>
              <button class="download-btn">
                <img src="../../../assets/images/banner/ant-design_download-outlined.png" alt="" />
              </button>

              <div class="subclick-link-div">
                <button class="click-link-Btn">Click Link</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- right side section start here --------------------------------------- -->

      <div class="right-side-div">
        <h1>Exam Routine</h1>

        <div class="class-view-div">
          <div class="subClass-view-div">
            <div class="name-header-div">
              <h1 class="Class">Class</h1>
              <!-- <h1 class="Class-Link">Online Class Link</h1> -->
            </div>

            <div class="class-div">
              <button class="class-btn">Class 1</button>
              <button class="view-bttn">
                <img src="../../../assets/images/banner/icon-park-outline_preview-open.png" alt="" />
              </button>
              <button class="download-btn">
                <img src="../../../assets/images/banner/ant-design_download-outlined.png" alt="" />
              </button>
            </div>

            <div class="class-div">
              <button class="class-btn">Class 2</button>
              <button class="view-bttn">
                <img src="../../../assets/images/banner/icon-park-outline_preview-open.png" alt="" />
              </button>
              <button class="download-btn">
                <img src="../../../assets/images/banner/ant-design_download-outlined.png" alt="" />
              </button>
            </div>

            <div class="class-div">
              <button class="class-btn">Class 3</button>
              <button class="view-bttn">
                <img src="../../../assets/images/banner/icon-park-outline_preview-open.png" alt="" />
              </button>
              <button class="download-btn">
                <img src="../../../assets/images/banner/ant-design_download-outlined.png" alt="" />
              </button>
            </div>

            <div class="class-div">
              <button class="class-btn">Class 4</button>
              <button class="view-bttn">
                <img src="../../../assets/images/banner/icon-park-outline_preview-open.png" alt="" />
              </button>
              <button class="download-btn">
                <img src="../../../assets/images/banner/ant-design_download-outlined.png" alt="" />
              </button>
            </div>

            <div class="class-div">
              <button class="class-btn">Class 5</button>
              <button class="view-bttn">
                <img src="../../../assets/images/banner/icon-park-outline_preview-open.png" alt="" />
              </button>
              <button class="download-btn">
                <img src="../../../assets/images/banner/ant-design_download-outlined.png" alt="" />
              </button>
            </div>

            <div class="class-div">
              <button class="class-btn">Class 6</button>
              <button class="view-bttn">
                <img src="../../../assets/images/banner/icon-park-outline_preview-open.png" alt="" />
              </button>
              <button class="download-btn">
                <img src="../../../assets/images/banner/ant-design_download-outlined.png" alt="" />
              </button>
            </div>

            <div class="class-div">
              <button class="class-btn">Class 7</button>
              <button class="view-bttn">
                <img src="../../../assets/images/banner/icon-park-outline_preview-open.png" alt="" />
              </button>
              <button class="download-btn">
                <img src="../../../assets/images/banner/ant-design_download-outlined.png" alt="" />
              </button>
            </div>

            <div class="class-div">
              <button class="class-btn">Class 8</button>
              <button class="view-bttn">
                <img src="../../../assets/images/banner/icon-park-outline_preview-open.png" alt="" />
              </button>
              <button class="download-btn">
                <img src="../../../assets/images/banner/ant-design_download-outlined.png" alt="" />
              </button>
            </div>

            <div class="class-div">
              <button class="class-btn">Class 9</button>
              <button class="view-bttn">
                <img src="../../../assets/images/banner/icon-park-outline_preview-open.png" alt="" />
              </button>
              <button class="download-btn">
                <img src="../../../assets/images/banner/ant-design_download-outlined.png" alt="" />
              </button>
            </div>

            <div class="class-div">
              <button class="class-btn">Class 10</button>
              <button class="view-bttn">
                <img src="../../../assets/images/banner/icon-park-outline_preview-open.png" alt="" />
              </button>
              <button class="download-btn">
                <img src="../../../assets/images/banner/ant-design_download-outlined.png" alt="" />
              </button>
            </div>

            <div class="class-div">
              <button class="class-btn">Class 11</button>
              <button class="view-bttn">
                <img src="../../../assets/images/banner/icon-park-outline_preview-open.png" alt="" />
              </button>
              <button class="download-btn">
                <img src="../../../assets/images/banner/ant-design_download-outlined.png" alt="" />
              </button>
            </div>

            <div class="class-div">
              <button class="class-btn">Class 12</button>
              <button class="view-bttn">
                <img src="../../../assets/images/banner/icon-park-outline_preview-open.png" alt="" />
              </button>
              <button class="download-btn">
                <img src="../../../assets/images/banner/ant-design_download-outlined.png" alt="" />
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
