<!--
<section>
  <div class="online-exam-main-div">

  </div>
</section> -->

<section>
  <div class="online-exam-main-div">
    <h1>Online Exam</h1>

    <!-- selected section start -------------------------------->
    <div class="cards-div">
      <!-- <h2>Presentation</h2> -->

      <div class="select-main-div">
        <!-- select Class -------------------------------------- -->
        <select class="select-class" name="" id="">
          <option class="optionts" value="s">Select Your Class</option>
          <option class="optionts" value="s">Class 1</option>
          <option class="optionts" value="s">Class 2</option>
          <option class="optionts" value="s">Class 3</option>
          <option class="optionts" value="s">Class 4</option>
          <option class="optionts" value="s">Class 5</option>
          <option class="optionts" value="s">Class 6</option>
          <option class="optionts" value="s">Class 7</option>
          <option class="optionts" value="s">Class 8</option>
          <option class="optionts" value="s">Class 9</option>
          <option class="optionts" value="s">Class 10</option>
          <option class="optionts" value="s">Class 11</option>
          <option class="optionts" value="s">Class 12</option>
        </select>

        <!-- select Section -------------------------------------- -->
        <select class="select-section" name="" id="">
          <option class="optionts" value="s">Section</option>
          <option class="optionts" value="s">1</option>
          <option class="optionts" value="s">2</option>
          <option class="optionts" value="s">3</option>
          <option class="optionts" value="s">4</option>
          <option class="optionts" value="s">5</option>
          <option class="optionts" value="s">6</option>
          <option class="optionts" value="s">7</option>
          <option class="optionts" value="s">8</option>
          <option class="optionts" value="s">9</option>
          <option class="optionts" value="s">10</option>
          <option class="optionts" value="s">11</option>
        </select>

        <!-- select group -------------------------------------- -->

        <select class="select-group" name="" id="">
          <option class="optionts" value="s">Group</option>
          <option class="optionts" value="s">Science</option>
          <option class="optionts" value="s">Commerce</option>
          <option class="optionts" value="s">Arts</option>
        </select>

        <!-- select Subject -------------------------------------- -->

        <select class="select-Subject" name="" id="">
          <option class="optionts" value="s">Subject</option>

          <option class="optionts" value="s">Bangla</option>
          <option class="optionts" value="s">English</option>
          <option class="optionts" value="s">Math</option>
          <option class="optionts" value="s">Physics</option>
          <option class="optionts" value="s">Chemistry</option>
        </select>

        <!-- select Subject -------------------------------------- -->

        <select class="select-set" name="" id="">
          <option class="optionts" value="s">Set</option>
          <option class="optionts" value="s">A</option>
          <option class="optionts" value="s">B</option>
          <option class="optionts" value="s">C</option>
          <option class="optionts" value="s">D</option>
        </select>
      </div>
    </div>

    <!-- time-and-mark-div section  -->

    <div class="time-and-mark-div">
      <h1 class="exam-mark">Exam mark: 30</h1>
      <h1 class="exam-time">Time: 30 minutes</h1>
    </div>

    <!-- questio main section start ---------------------------------- -->

    <div class="all-question-main-div">
      <!-- question-div1 start -------------------------------- -->
      <div class="question-div1">
        <div class="question-title-div">
          <p>1. what is you name ?</p>
          <div class="question-option-div">
            <div class="option-div">
              <input class="answer-checkbox" type="checkbox" name="" id="" />
              <p>a. Rubel</p>
            </div>

            <div class="option-div">
              <input class="answer-checkbox" type="checkbox" name="" id="" />
              <p>b. Khalek</p>
            </div>

            <div class="option-div">
              <input class="answer-checkbox" type="checkbox" name="" id="" />
              <p>c. Makel</p>
            </div>

            <div class="option-div">
              <input class="answer-checkbox" type="checkbox" name="" id="" />
              <p>d. Taleb</p>
            </div>
          </div>
        </div>
      </div>

      <!-- question-div2 start -------------------------------- -->
      <div class="question-div2">
        <div class="question-title-div">
          <p>1. what is you name ?</p>
          <div class="questions-option-div">
            <div class="option-div">
              <input class="answer-checkbox" type="checkbox" name="" id="" />
              <p>a. Rubel</p>
            </div>

            <div class="option-div">
              <input class="answer-checkbox" type="checkbox" name="" id="" />
              <p>b. Khalek</p>
            </div>

            <div class="option-div">
              <input class="answer-checkbox" type="checkbox" name="" id="" />
              <p>c. Makel</p>
            </div>

            <div class="option-div">
              <input class="answer-checkbox" type="checkbox" name="" id="" />
              <p>d. Taleb</p>
            </div>
          </div>
        </div>
      </div>

      <!-- question-div1 start -------------------------------- -->
      <div class="question-div1">
        <div class="question-title-div">
          <p>3. what is you name ?</p>
          <div class="question-option-div">
            <div class="option-div">
              <input class="answer-checkbox" type="checkbox" name="" id="" />
              <p>a. Rubel</p>
            </div>

            <div class="option-div">
              <input class="answer-checkbox" type="checkbox" name="" id="" />
              <p>b. Khalek</p>
            </div>

            <div class="option-div">
              <input class="answer-checkbox" type="checkbox" name="" id="" />
              <p>c. Makel</p>
            </div>

            <div class="option-div">
              <input class="answer-checkbox" type="checkbox" name="" id="" />
              <p>d. Taleb</p>
            </div>
          </div>
        </div>
      </div>

      <!-- question-div2 start -------------------------------- -->
      <div class="question-div2">
        <div class="question-title-div">
          <p>4. what is you name ?</p>
          <div class="questions-option-div">
            <div class="option-div">
              <input class="answer-checkbox" type="checkbox" name="" id="" />
              <p>a. Rubel</p>
            </div>

            <div class="option-div">
              <input class="answer-checkbox" type="checkbox" name="" id="" />
              <p>b. Khalek</p>
            </div>

            <div class="option-div">
              <input class="answer-checkbox" type="checkbox" name="" id="" />
              <p>c. Makel</p>
            </div>

            <div class="option-div">
              <input class="answer-checkbox" type="checkbox" name="" id="" />
              <p>d. Taleb</p>
            </div>
          </div>
        </div>
      </div>

<!-- submit button ----------------------------------------------- -->

<div class="submit-btn-div">
  <button class="submit-btn">Submit</button>
</div>

    </div>
  </div>
</section>
