<section>
  <div class="details-institute-main-div">
    <!-- Details of The Institute right side ------------------------------------------------------ -->
    <div class="left-Side">
      <h1>Institute Photos</h1>
      <div class="institute-img-div">
        <img src="../../../assets/images/banner/rajuk-uttara-model-college-min 1.png" alt="" />
      </div>

      <div class="history-details-div">
        <h1>History & Discription:</h1>

        <div class="messsege-Discription-div">
          <p>
            It is a long established fact that a reader will be distracted by
            the readable content of a page when looking at its layout. The point
            of using Lorem Ipsum is that it has a more-or-less normal
            distribution of letters, as opposed to using 'Content here, content
            here', making it look like readable English. Many desktop publishing
            packages and web page editors now use Lorem Ipsum as their default
            model text, and a search for 'lorem ipsum' will uncover many web
            sites still in their infancy. Various versions have evolved over the
            years, sometimes by accident, sometimes on purpose (injected humour
            and the like).
          </p>
        </div>
      </div>

      <a class="message-Box">Message Box
        <img src="../../../assets/images/footerIcon/icon _chat_.png" alt="" />
      </a>
    </div>
    <!-- Details of The Institute right side ------------------------------------------------------ -->
    <div class="right-side">
      <h1>Details of The Institute</h1>

      <form action="" method="post">
        <div class="input-Div">
          <h1>Name:</h1>
          <input type="text" name="" id="" />
        </div>

        <div class="input-Div">
          <h1>User Name:</h1>
          <input type="text" name="" id="" />
        </div>

        <div class="input-Div">
          <h1>Type:</h1>
          <select>
            <option>Select</option>
            <option>option 1</option>
            <option>option 2</option>
          </select>
        </div>

        <div class="input-Div">
          <h1>Department:</h1>
          <select>
            <option>Select</option>
            <option>option 1</option>
            <option>option 2</option>
          </select>
        </div>

        <div class="input-Div">
          <h1>Shift:</h1>
          <select>
            <option>Select</option>
            <option>option 1</option>
            <option>option 2</option>
          </select>
        </div>

        <div class="input-Div">
          <h1>EIIN No:</h1>
          <input type="text" name="" id="" />
        </div>

        <div class="input-Div">
          <h1>Established:</h1>
          <input type="text" name="" id="" />
        </div>

        <div class="input-Div">
          <h1>Princilal:</h1>
          <input type="text" name="" id="" />
        </div>

        <div class="input-Div">
          <h1>No of Students:</h1>
          <input type="text" name="" id="" />
        </div>

        <div class="input-Div">
          <h1>No of teacher:</h1>
          <input type="text" name="" id="" />
        </div>

        <div class="input-Div">
          <h1>No of Staff:</h1>
          <input type="text" name="" id="" />
        </div>

        <div class="input-Div">
          <h1>Phone:</h1>
          <input type="text" name="" id="" />
        </div>

        <div class="input-Div">
          <h1>Email:</h1>
          <input type="text" name="" id="" />
        </div>

        <div class="input-Div">
          <h1>Address:</h1>
          <input class="address-Filed" type="text" name="" id="" />
        </div>
        <!-- save btn -------------- -->
        <button  ><a routerLink="/home">Save</a> </button>
      </form>
    </div>
  </div>
</section>
