<section>
  <div class="st-admission-main-div">
    <h1 class="st-admission-header">Institute Admisson Form</h1>
    <!-- Institute Admisson Form start ------------------------------------------------------ -->
    <div class="institute-admission-div">
      <div class="institute-admission-form-div">
        <div class="form">
          <div class="input-filed-div">
            <h1>Roll No:</h1>

            <input type="text" name="" id="" />
          </div>

          <div class="input-filed-div">
            <h1>Date:</h1>

            <input type="text" name="" id="" />
          </div>

          <div class="input-filed-div">
            <h1>Class:</h1>

            <input type="text" name="" id="" />
          </div>

          <div class="input-filed-div">
            <h1>Version:</h1>
            <input type="text" name="" id="" />
          </div>
        </div>
      </div>
      <div class="institute-admission-form-img-div">
        <img src="../../../assets/images/banner/undraw_Reminder_522k 1.png" alt="" />
      </div>
    </div>

    <!-- Student Full Information similar their certificate  start -------------------------------------- -->

    <div class="student-Name-main-Div">
      <h1>Student Full Information similar their certificate</h1>

      <div class="name-Div">
        <div class="input-filed-div">
          <h1>Name(Bangali):</h1>

          <input type="text" name="" id="" />
        </div>
        <div class="input-filed-div">
          <h1>Name(English by Capotal Latter):</h1>

          <input type="text" name="" id="" />
        </div>
      </div>
    </div>

    <!-- parents section  start -------------------------------------- -->

    <div class="parents-info-main-div">
      <!-- father info  -->
      <div class="info-main-div">
        <h1>Father’s Information</h1>
        <div class="input-filed-div">
          <h1>Name:</h1>

          <input type="text" name="" id="" />
        </div>

        <div class="input-filed-div">
          <h1>Occupation:</h1>

          <input type="text" name="" id="" />
        </div>

        <div class="input-filed-div">
          <h1>Phone:</h1>

          <input type="text" name="" id="" />
        </div>
        <div class="input-filed-div">
          <h1>Email:</h1>

          <input type="text" name="" id="" />
        </div>
      </div>

      <!-- mother info -->

      <div class="info-main-div">
        <h1>Mother’s Information</h1>
        <div class="input-filed-div">
          <h1>Name:</h1>

          <input type="text" name="" id="" />
        </div>

        <div class="input-filed-div">
          <h1>Occupation:</h1>

          <input type="text" name="" id="" />
        </div>

        <div class="input-filed-div">
          <h1>Phone:</h1>

          <input type="text" name="" id="" />
        </div>
        <div class="input-filed-div">
          <h1>Email:</h1>

          <input type="text" name="" id="" />
        </div>
      </div>

      <!-- Local Gaurdian Information -->

      <div class="info-main-div">
        <h1>Local Gaurdian Information</h1>
        <div class="input-filed-div">
          <h1>Name:</h1>

          <input type="text" name="" id="" />
        </div>

        <div class="input-filed-div">
          <h1>Occupation:</h1>

          <input type="text" name="" id="" />
        </div>

        <div class="input-filed-div">
          <h1>Phone:</h1>

          <input type="text" name="" id="" />
        </div>
        <div class="input-filed-div">
          <h1>Email:</h1>

          <input type="text" name="" id="" />
        </div>
      </div>
    </div>

    <!-- Fillup the similar information of Birth Certificate  start -------------------------------------- -->

    <div class="student-Birth-Certificate-main-Div">
      <h1>Fillup the similar information of Birth Certificate</h1>

      <div class="Card-Div">
        <div class="input-filed-div">
          <h1>Birth Certificate No:</h1>

          <input type="text" name="" id="" />
        </div>
        <div class="input-filed-div">
          <h1>Birth Date:</h1>

          <input type="text" name="" id="" />
        </div>

        <div class="input-filed-div">
          <h1>Nationality:</h1>

          <input type="text" name="" id="" />
        </div>

        <div class="input-filed-div">
          <h1>Gender:</h1>

          <input type="text" name="" id="" />
        </div>

        <div class="input-filed-div">
          <h1>Relagion:</h1>

          <input type="text" name="" id="" />
        </div>
      </div>
    </div>

    <!-- Address section  start -=------------------------------------------------------------ -->

    <div class="Address-info-main-div">
      <!-- Present Address info  -->
      <div class="info-main-div">
        <h1>Present Address</h1>
        <div class="input-filed-div">
          <h1>Village:</h1>

          <input type="text" name="" id="" />
        </div>

        <div class="input-filed-div">
          <h1>Union:</h1>

          <input type="text" name="" id="" />
        </div>

        <div class="input-filed-div">
          <h1>Post Office & Post Code:</h1>

          <input type="text" name="" id="" />
        </div>
        <div class="input-filed-div">
          <h1>Thana:</h1>

          <input type="text" name="" id="" />
        </div>

        <div class="input-filed-div">
          <h1>Zilla:</h1>

          <input type="text" name="" id="" />
        </div>
      </div>

      <!-- Permanent info -->

      <div class="info-main-div">
        <h1>Permanent Address</h1>
        <div class="input-filed-div">
          <h1>Village/Road No/Area:</h1>

          <input type="text" name="" id="" />
        </div>

        <div class="input-filed-div">
          <h1>Union:</h1>

          <input type="text" name="" id="" />
        </div>

        <div class="input-filed-div">
          <h1>Post Office & Post Code:</h1>

          <input type="text" name="" id="" />
        </div>
        <div class="input-filed-div">
          <h1>Thana:</h1>

          <input type="text" name="" id="" />
        </div>
        <div class="input-filed-div">
          <h1>Zilla:</h1>

          <input type="text" name="" id="" />
        </div>
      </div>
    </div>

    <!-- Previous School Information  start -------------------------------------- -->

    <div class="Previous-School-Information-main-Div">
      <h1>Previous School Information</h1>

      <div class="if-not-Div">
        <h1>If Not</h1>
        <input type="checkbox" name="" id="" />
      </div>

      <div class="Card-Div">
        <div class="input-filed-div">
          <h1>Name of the Institute:</h1>

          <input type="text" name="" id="" />
        </div>
        <div class="input-filed-div">
          <h1>Address:</h1>

          <input type="text" name="" id="" />
        </div>

        <div class="input-filed-div">
          <h1>Previous Class:</h1>

          <input type="text" name="" id="" />
        </div>

        <div class="input-filed-div">
          <h1>Reason for the changing:</h1>

          <input class="reason-of-changing" type="text" name="" id="" />
        </div>
      </div>
    </div>

    <!-- IF attending any public exam  start -------------------------------------- -->

    <div class="attending-any-public-exam-main-Div">
      <h1 class="attending">IF attending any public exam</h1>

      <div class="if-not-Div">
        <h1>If Not</h1>
        <input type="checkbox" name="" id="" />
      </div>

      <div class="Card-Div">
        <div class="input-filed-div">
          <h1>Name of the Institute:</h1>

          <input type="text" name="" id="" />
        </div>
        <div class="input-filed-div">
          <h1>Address:</h1>

          <input type="text" name="" id="" />
        </div>

        <div class="input-filed-div">
          <h1>Previous Class:</h1>

          <input type="text" name="" id="" />
        </div>

        <div class="input-filed-div">
          <h1>Reason for the changing:</h1>

          <input type="text" name="" id="" />
        </div>
      </div>
    </div>

    <!-- Important Information For admin  start -------------------------------------- -->

    <div class="attending-any-public-exam-main-Div">
      <h1 class="attending">Important Information For admin</h1>

      <div class="Card-Div">
        <div class="input-filed-div">
          <h1>Name:</h1>

          <input type="text" name="" id="" />
        </div>
        <div class="input-filed-div">
          <h1>Phone:</h1>

          <input type="text" name="" id="" />
        </div>

        <div class="input-filed-div">
          <h1>Email:</h1>

          <input type="text" name="" id="" />
        </div>

        <div class="input-filed-div">
          <h1>Signature:</h1>

          <input class="signature" type="file" name="" id="" />
        </div>
      </div>
    </div>

    <!-- fotter btn ------------------------------- -->

    <div class="btn-main-div">
      <button class="check-again-btn">Check Again</button>

      <div class="submit-btn-div">
        <button class="Submit-Download-btn">Submit & Download</button>
      </div>
    </div>
  </div>
</section>
