<section>
  <div class="loginMainDIV">
    <div>
      <!-- header section  -->

      <div class="headerDiv">
        <a class="RegisLoginBTN" href="" routerLink="/login"
          routerLinkActive="router-link-active">Login</a>
        <a class="helpBTN" href="" routerLink="/home" routerLinkActive="router-link-active">Help</a>
      </div>
    </div>

<!-- registration pages  -->

<div class="loginMainDiv">

  <div class="logo">
    <img class="logooImg" src="../..//../assets/images/regform/reg.png" alt="">

    <p>Login</p>
  </div>

  <div class="regAllBtn">

    <div class="inputDiv">
      <p>Enter Your Phone Number</p>
      <input class="InputFiled" type="text" name="" id="" placeholder="Phone Number">
    </div>


    <div class="inputDiv">
      <p>Enter Password </p>
      <input class="InputFiled" type="text" name="" id="" placeholder="Password">

    </div>



    <a class="submit" href="" routerLink="/home" routerLinkActive="router-link-active" >Log In </a>
    <!-- <input class="submit" type="submit" value="Continue"> -->
    </div>
</div>






  </div>

  <div class="Info">
    <div class="SubInfo">
      <p class="Pleaselogin">www.stgoals.com</p>
      <p class="Pleaselogin">Powered by MY SOFTAKE</p>
    </div>
  </div>
</section>

<!-- <a href="" [routerLink]="['otpform']" routerLinkActive="router-link-active" >login</a> -->
