
 @import "./../../../theme/variables";
 @import url("https://rsms.me/inter/inter.css");

 section {
   background-color: #8aabff;
   height: 100vh;
   width: 100%;
   position: relative;
 }

 .loginMainDIV {
   // background-color: #8AABFF;
   // height: 100vh;
   // width: 100%;
 }

 .headerDiv {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
 }

 .RegisLoginBTN {
   margin-top: 41px;
   margin-left: 52px;
   font-family: "Inter";
   font-style: normal;
   font-weight: 600;
   font-size: 14px;
   line-height: 17px;
   /* identical to box height */
   color: #ffffff;
   width: 99px;
   height: 17px;
 }

 .helpBTN {
   margin-top: 41px;
   margin-right: 77px;
   float: right;
   font-family: "Inter";
   font-style: normal;
   font-weight: 600;
   font-size: 14px;
   line-height: 17px;
   display: flex;
   justify-content: end;
   color: #ffffff;
 }

 .loginMainDiv{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 70vh;
 }

 .logo{
   display: flex;
   align-items: center;
   justify-content: center;
   flex-wrap: wrap;
   margin-top: 1%;
   flex-direction: column;
 }

 .logooImg{
   width: 60%;
    //  height: 17%;
    //  margin-top: -43px;


 }

 .logo p{
   width: 207px;
 height: 38px;
 padding-top: 15px;

 font-family: 'Inter';
 font-style: normal;
 font-weight: 600;
 font-size: 22px;
 line-height: 19px;
 text-align: center;
 color: #E45720;
 }

 .regAllBtn{
   display: flex;
   align-items: center;
   justify-content: center;
   flex-wrap: wrap;
   margin-top: 1%;
   flex-direction: column;
 }

 .inputDiv{
   margin-bottom: 8px;
 }

 .inputDiv p{
   font-family: 'Inter';
   font-style: normal;
   font-weight: 600;
   font-size: 12px;
   line-height: 15px;
   color: #FFFFFF;
 padding-left: 2px;

 }

 .InputFiled{
   margin-top: 5px;
   width: 278px;
   height: 30px;
 background: #FFFFFF;
 box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
 border-radius: 10px;
 border: none;
 padding-left: 20px;
 font-family: 'Inter';
 font-style: normal;
 font-weight: 600;
 font-size: 10px;
 line-height: 17px;
 /* identical to box height */
 // color: rgba(0, 0, 0, 0.3);



 }

 .select{
   border: none !important;
   padding-right: 200px !important;
   font-family: 'Inter';
   font-style: normal;
   font-weight: 600;
   font-size: 10px;
   line-height: 17px;
   color: rgba(0, 0, 0, 0.3);
 }


 .submit{
 width: 278px;
 height: 30px;
 background: #E45720;
 box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
 border-radius: 10px;
 font-family: 'Inter';
 font-style: normal;
 font-weight: 600;
 font-size: 16px;
 line-height: 19px;
 border: none;
 color: #FFFFFF;
 display: flex;
 justify-content: center;
 align-items: center;
 margin-top: 10px;
 text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
 }


 // footer


 .Info {
   position: absolute;
   bottom: 0px;
   width: 100%;
   margin-bottom: 20px;
 }

 .Pleaselogin {
   font-family: "Inter";
   font-style: normal;
   font-weight: 600;
   font-size: 12px;
   line-height: 15px;
   padding-left: 5px;

   color: #ffffff;
 }

 .SubInfo {
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
 }
