.online-class-main-div {
    padding-bottom: 5%;


  h1 {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
    text-decoration-line: underline;
    text-align: center;
    color: #000000;
  }
  //   <!-- selected section start -------------------------------->
  .cards-div {
    display: flex;
    // align-items: center;
    flex-direction: column;
    justify-content: center;
    // width: 82%;
    margin-top: 30px;

    margin-bottom: 25px;

    // select main div -------------------------------------

    .select-main-div {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      margin-bottom: 15px;
      // <!-- select Class -------------------------------------- -->

      
      .select-class {
        width: 16%;
        height: 56px;
        padding-left: 7px;
        background: #ffffff;
        border: 1px solid rgba(0, 0, 0, 0.24);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

        font-family: "Inter";
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;

        color: #000000;

        .optionts {
          font-family: "Inter";
          font-style: normal;
          font-weight: 500;
          font-size: 20px;
          line-height: 24px;

          color: #000000;
        }
      }

      // <!-- select Section -------------------------------------- -->

      .select-section {
        width: 8%;
        height: 56px;
        padding-left: 7px;
        background: #ffffff;
        border: 1px solid rgba(0, 0, 0, 0.24);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

        font-family: "Inter";
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;

        color: #000000;

        .optionts {
          font-family: "Inter";
          font-style: normal;
          font-weight: 500;
          font-size: 20px;
          line-height: 24px;

          color: #000000;
        }
      }

      // <!-- select group -------------------------------------- -->

      .select-group {
        width: 8%;
        height: 56px;
        padding-left: 7px;
        background: #ffffff;
        border: 1px solid rgba(0, 0, 0, 0.24);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

        font-family: "Inter";
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;

        color: #000000;

        .optionts {
          font-family: "Inter";
          font-style: normal;
          font-weight: 500;
          font-size: 20px;
          line-height: 24px;

          color: #000000;
        }
      }
    }
  }

  //   <!-- routine section start here  ----------------------------------->

  .routine-main-div {
    margin: 2% 5%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    place-items: center;

    .class-routine-div {
      background: #ffffff;
      border: 1px solid rgba(0, 0, 0, 0.28);
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

      width: 90%;
      height: 140px;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      gap: 10px;

      P {
        font-family: "Inter";
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;

        color: #000000;
      }

      .time-tag{
        font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;

color: #000000;
      }

      .subject{

        font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 25px;
line-height: 30px;

color: #000000;

      }

.teacher-code{
    font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 25px;
line-height: 30px;
padding-left: 65%;
color: #3315EF;
}





      .running-class{
        background: #273FE3;
border-radius: 10px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 22px;
/* identical to box height */

padding: 2px 6px;
color: #FFFFFF;
    }


    }

.daily-class{
    background: rgba(228, 87, 32, 0.6);
    border: 1px solid rgba(228, 87, 32, 0.6);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);



}



  }
}
