



<section>
  <div class="online-class-main-div">
    <h1>Online Class</h1>

    <!-- selected section start -------------------------------->
    <div class="cards-div">
      <!-- <h2>Presentation</h2> -->

      <div class="select-main-div">
        <!-- select Class -------------------------------------- -->
        <select class="select-class" name="" id="">
          <option class="optionts" value="s">Select Your Class</option>
          <option class="optionts" value="s">Class 1</option>
          <option class="optionts" value="s">Class 2</option>
          <option class="optionts" value="s">Class 3</option>
          <option class="optionts" value="s">Class 4</option>
          <option class="optionts" value="s">Class 5</option>
          <option class="optionts" value="s">Class 6</option>
          <option class="optionts" value="s">Class 7</option>
          <option class="optionts" value="s">Class 8</option>
          <option class="optionts" value="s">Class 9</option>
          <option class="optionts" value="s">Class 10</option>
          <option class="optionts" value="s">Class 11</option>
          <option class="optionts" value="s">Class 12</option>
        </select>

        <!-- select Section -------------------------------------- -->
        <select class="select-section" name="" id="">
          <option class="optionts" value="s">Section</option>
          <option class="optionts" value="s">1</option>
          <option class="optionts" value="s">2</option>
          <option class="optionts" value="s">3</option>
          <option class="optionts" value="s">4</option>
          <option class="optionts" value="s">5</option>
          <option class="optionts" value="s">6</option>
          <option class="optionts" value="s">7</option>
          <option class="optionts" value="s">8</option>
          <option class="optionts" value="s">9</option>
          <option class="optionts" value="s">10</option>
          <option class="optionts" value="s">11</option>
        </select>

        <!-- select group -------------------------------------- -->

        <select class="select-group" name="" id="">
          <option class="optionts" value="s">Group</option>
          <option class="optionts" value="s">Science</option>
          <option class="optionts" value="s">Commerce</option>
          <option class="optionts" value="s">Arts</option>
        </select>
      </div>
    </div>

    <!-- routine section start here  ----------------------------------->

    <!-- day header  -->

    <div class="routine-main-div">
      <div class="class-routine-div">
        <p>Day</p>
      </div>
      <div class="class-routine-div">
        <p>1st Class</p>
        <p class="time-tag">(02AM-03AM)</p>
      </div>
      <div class="class-routine-div">
        <p>2nd Class</p>
      </div>
      <div class="class-routine-div">
        <p>3rd Class</p>
      </div>
      <div class="class-routine-div">
        <p>4th Class</p>
      </div>
      <div class="class-routine-div">
        <p>5th Class</p>
      </div>
      <div class="class-routine-div">
        <p>6th Class</p>
      </div>
    </div>



    <!-- day 1 -------------------- -->

    <div class="routine-main-div">
      <div class="class-routine-div daily-class">
        <p>Saturday</p>
      </div>
      <div class="class-routine-div">
        <p class="running-class">Online Class</p>
        <p class="subject">Bangla</p>
        <p class="teacher-code">AA</p>
      </div>
      <div class="class-routine-div">
        <!-- <p class="running-class"></p> -->
        <p class="subject">English</p>
        <p class="teacher-code"></p>
      </div>

      <div class="class-routine-div">
        <!-- <p class="running-class"></p> -->
        <p class="subject">Math</p>
        <p class="teacher-code"></p>
      </div>

      <div class="class-routine-div">
        <!-- <p class="running-class"></p> -->
        <p class="subject">Physics</p>
        <p class="teacher-code"></p>
      </div>

      <div class="class-routine-div">
        <!-- <p class="running-class"></p> -->
        <p class="subject">Chemistry</p>
        <p class="teacher-code"></p>
      </div>

      <div class="class-routine-div">
        <!-- <p class="running-class"></p> -->
        <!-- <p class="subject">Bangla</p> -->
        <!-- <p class="teacher-code"></p> -->
      </div>

      
    </div>


    
    <!-- day 2 -------------------- -->

    <div class="routine-main-div">
      <div class="class-routine-div daily-class">
        <p>Sunday</p>
      </div>
      <div class="class-routine-div">
        <!-- <p class="running-class">Online Class</p> -->
        <p class="subject">Bangla</p>
        <!-- <p class="teacher-code">AA</p> -->
      </div>
      <div class="class-routine-div">
        <!-- <p class="running-class"></p> -->
        <p class="subject">English</p>
        <p class="teacher-code"></p>
      </div>

      <div class="class-routine-div">
        <!-- <p class="running-class"></p> -->
        <p class="subject">Math</p>
        <p class="teacher-code"></p>
      </div>

      <div class="class-routine-div">
        <!-- <p class="running-class"></p> -->
        <p class="subject">Physics</p>
        <p class="teacher-code"></p>
      </div>

      <div class="class-routine-div">
        <!-- <p class="running-class"></p> -->
        <p class="subject">Chemistry</p>
        <p class="teacher-code"></p>
      </div>

      <div class="class-routine-div">
        <!-- <p class="running-class"></p> -->
        <!-- <p class="subject">Bangla</p> -->
        <!-- <p class="teacher-code"></p> -->
      </div>

      
    </div>



    
    <!-- day 3 -------------------- -->

    <div class="routine-main-div">
        <div class="class-routine-div daily-class">
          <p>Monday</p>
        </div>
        <div class="class-routine-div">
          <!-- <p class="running-class">Online Class</p> -->
          <p class="subject">Bangla</p>
          <!-- <p class="teacher-code">AA</p> -->
        </div>
        <div class="class-routine-div">
          <!-- <p class="running-class"></p> -->
          <p class="subject">English</p>
          <p class="teacher-code"></p>
        </div>
  
        <div class="class-routine-div">
          <!-- <p class="running-class"></p> -->
          <p class="subject">Math</p>
          <p class="teacher-code"></p>
        </div>
  
        <div class="class-routine-div">
          <!-- <p class="running-class"></p> -->
          <p class="subject">Physics</p>
          <p class="teacher-code"></p>
        </div>
  
        <div class="class-routine-div">
          <!-- <p class="running-class"></p> -->
          <p class="subject">Chemistry</p>
          <p class="teacher-code"></p>
        </div>
  
        <div class="class-routine-div">
          <!-- <p class="running-class"></p> -->
          <!-- <p class="subject">Bangla</p> -->
          <!-- <p class="teacher-code"></p> -->
        </div>
  
        
      </div>
  
  

    
    <!-- day 4 -------------------- -->

    <div class="routine-main-div">
        <div class="class-routine-div daily-class">
          <p>Tuesday</p>
        </div>
        <div class="class-routine-div">
          <!-- <p class="running-class">Online Class</p> -->
          <p class="subject">Bangla</p>
          <!-- <p class="teacher-code">AA</p> -->
        </div>
        <div class="class-routine-div">
          <!-- <p class="running-class"></p> -->
          <p class="subject">English</p>
          <p class="teacher-code"></p>
        </div>
  
        <div class="class-routine-div">
          <!-- <p class="running-class"></p> -->
          <p class="subject">Math</p>
          <p class="teacher-code"></p>
        </div>
  
        <div class="class-routine-div">
          <!-- <p class="running-class"></p> -->
          <p class="subject">Physics</p>
          <p class="teacher-code"></p>
        </div>
  
        <div class="class-routine-div">
          <!-- <p class="running-class"></p> -->
          <p class="subject">Chemistry</p>
          <p class="teacher-code"></p>
        </div>
  
        <div class="class-routine-div">
          <!-- <p class="running-class"></p> -->
          <!-- <p class="subject">Bangla</p> -->
          <!-- <p class="teacher-code"></p> -->
        </div>
  
        
      </div>
  
  


    
    <!-- day 5 -------------------- -->

    <div class="routine-main-div">
        <div class="class-routine-div daily-class">
          <p>Wednessday</p>
        </div>
        <div class="class-routine-div">
          <!-- <p class="running-class">Online Class</p> -->
          <p class="subject">Bangla</p>
          <!-- <p class="teacher-code">AA</p> -->
        </div>
        <div class="class-routine-div">
          <!-- <p class="running-class"></p> -->
          <p class="subject">English</p>
          <p class="teacher-code"></p>
        </div>
  
        <div class="class-routine-div">
          <!-- <p class="running-class"></p> -->
          <p class="subject">Math</p>
          <p class="teacher-code"></p>
        </div>
  
        <div class="class-routine-div">
          <!-- <p class="running-class"></p> -->
          <p class="subject">Physics</p>
          <p class="teacher-code"></p>
        </div>
  
        <div class="class-routine-div">
          <!-- <p class="running-class"></p> -->
          <p class="subject">Chemistry</p>
          <p class="teacher-code"></p>
        </div>
  
        <div class="class-routine-div">
          <!-- <p class="running-class"></p> -->
          <!-- <p class="subject">Bangla</p> -->
          <!-- <p class="teacher-code"></p> -->
        </div>
  
        
      </div>
  


    
    <!-- day 6 -------------------- -->

    <div class="routine-main-div">
        <div class="class-routine-div daily-class">
          <p>Thursday</p>
        </div>
        <div class="class-routine-div">
          <!-- <p class="running-class">Online Class</p> -->
          <p class="subject">Bangla</p>
          <!-- <p class="teacher-code">AA</p> -->
        </div>
        <div class="class-routine-div">
          <!-- <p class="running-class"></p> -->
          <p class="subject">English</p>
          <p class="teacher-code"></p>
        </div>
  
        <div class="class-routine-div">
          <!-- <p class="running-class"></p> -->
          <p class="subject">Math</p>
          <p class="teacher-code"></p>
        </div>
  
        <div class="class-routine-div">
          <!-- <p class="running-class"></p> -->
          <p class="subject">Physics</p>
          <p class="teacher-code"></p>
        </div>
  
        <div class="class-routine-div">
          <!-- <p class="running-class"></p> -->
          <p class="subject">Chemistry</p>
          <p class="teacher-code"></p>
        </div>
  
        <div class="class-routine-div">
          <!-- <p class="running-class"></p> -->
          <!-- <p class="subject">Bangla</p> -->
          <!-- <p class="teacher-code"></p> -->
        </div>
  
        
      </div>
  


    
    <!-- day 7 -------------------- -->

    <div class="routine-main-div">
        <div class="class-routine-div daily-class">
          <p>Friday</p>
        </div>
        <div class="class-routine-div">
          <!-- <p class="running-class">Online Class</p> -->
          <!-- <p class="subject">Bangla</p> -->
          <!-- <p class="teacher-code">AA</p> -->
        </div>
        <div class="class-routine-div">
          <!-- <p class="running-class"></p> -->
          <!-- <p class="subject">English</p> -->
          <p class="teacher-code"></p>
        </div>
  
        <div class="class-routine-div">
          <!-- <p class="running-class"></p> -->
          <!-- <p class="subject">Math</p> -->
          <p class="teacher-code"></p>
        </div>
  
        <div class="class-routine-div">
          <!-- <p class="running-class"></p> -->
          <!-- <p class="subject">Physics</p> -->
          <p class="teacher-code"></p>
        </div>
  
        <div class="class-routine-div">
          <!-- <p class="running-class"></p> -->
          <!-- <p class="subject">Chemistry</p> -->
          <p class="teacher-code"></p>
        </div>
  
        <div class="class-routine-div">
          <!-- <p class="running-class"></p> -->
          <!-- <p class="subject">Bangla</p> -->
          <!-- <p class="teacher-code"></p> -->
        </div>
  
        
      </div>
  
      

  </div>
</section>
