<!-- FOOTER SECTION  -->
<footer>
  <div class="footerMainDiv" *ngIf="footerHide">
    <div class="menuDiv">
      <div class="SubMenuDiv">
        <!-- <span><i class="fa-solid fa-desktop IconSize"></i></span> -->
        <a class="SubMenuText GFeeds" href=""> <img class="IconSize" src="../../../../assets/images/footerIcon/icon _news display_.png" alt=""> G Feeds</a>
      </div>

      <div class="SubMenuDiv">
        <!-- <span><i class="fa-brands fa-youtube IconSize"></i></span> -->
        <a class="SubMenuText" href=""><img class="IconSize IconSize1" src="../../../../assets/images/footerIcon/icon _folder videos_.png" alt=""> Videos</a>
      </div>

      <div class="SubMenuDiv">
        <!-- <span><img class="IconSize" src="../../../../assets/images/footerIcon/illustration _Facebook Ad_.png" alt=""></span> -->
        <a class="SubMenuText" href=""><img class="IconSize IconSize2" src="../../../../assets/images/footerIcon/illustration _Facebook Ad_.png" alt="">  Pages</a>
      </div>

      <div class="SubMenuDiv">
        <!-- <span><i class="fa-solid fa-users IconSize"></i></span> -->
        <a class="SubMenuText" href=""><img class="IconSize IconSize2" src="../../../../assets/images/footerIcon/illustration _User Group_.png" alt=""> Clubs</a>
      </div>

      <div class="SubMenuDiv">
        <!-- <span><i class="fa-solid fa-comment-dots IconSize"></i></span> -->
        <a class="SubMenuText" href=""><img class="IconSize" src="../../../../assets/images/footerIcon/icon _chat_.png" alt="">G Chatting</a>
      </div>



    </div>
    <button class="upArrowBtn"><img class="upArrowImg" src="../../../assets/images/post/icon _arrow up_.png" alt=""> </button>
  </div>
</footer>
