<div class="mainNav" *ngIf="headerHide">
  <div class="container">
    <div class="navMainDiv">
      <!-- logo section  -->

      <div class="logo">
        <div>
          <a href="" routerLink="/home"><img class="logoImg" src="../../../assets/images/logo/logo.png" alt="" /></a>
        </div>

        <div class="searchFieldDiv">
          <input class="searchField" type="" name="" id="" placeholder="Search" />
          <span class="matIcon">
            <mat-icon class="matIcon1">search</mat-icon>
          </span>
        </div>

        <div class="QRCode">
          <input class="searchField1" type="search" name="" id="" />
          <a class="QRText" href="">QR Scanner</a>
        </div>
      </div>

      <!-- menu Section -->

      <div class="menuSection">
        <div class="menuDiv">
          <div class="subMenu homeIcon">
            <a class="menuATAg" href="" routerLink="/home"><img src="../../../assets/images/header/icon _home_.png"
                alt="" /></a>
          </div>
        </div>

        <div class="menuDiv">
          <div class="subMenu">
            <a class="menuATAg" routerLink="/institutelist"><img
                src="../../../assets/images/header/educational-institute.png" alt="" /></a>
          </div>
        </div>

        <div class="menuDiv">
          <div class="subMenu">
            <a class="menuATAg" (click)="notiownSlider()"><img
                src="../../../assets/images/header/icon _notification_.png" alt="" /></a>
          </div>
        </div>
      </div>

      <!-- Grid menu section  -->

      <div class="GridmenuDiv">
        <a class="menuATAg" (click)="ownUserProfile()"><img src="../../../assets/images/header/icon _app menu_.png"
            alt="" /></a>
      </div>
    </div>
  </div>
</div>

<!-- notification section -->

<div class="noti-Slider notiMaunDiv" [class]="notiSlider == true ? 'noti-Slider-active' : 'noti-Slider-inactive'">
  <div class="notifyDiv">
    <h1 class="notiHeader">Notification</h1>
    <div class="allUnreadDiv">
      <button class="AllNotiBtn">All</button>
      <button class="UnreadBtn">Unread</button>
    </div>

    <div class="newSeeAllDiv">
      <h1 class="newHeader">New</h1>
      <a class="SeeAllBtn" routerLink="/notification">See All</a>
    </div>

    <div class="notifyprofileDiv">
      <img class="notifyprofileImg" src="../../../assets/images/postProfile/Ellipse 19.png" alt="" />
      <div class="notifyprofileInfo">
        <h1 class="notifyprofileName">Fazlul Hauque React on your post</h1>
        <p class="notifyReactionTime">About 1 hour ago</p>
      </div>
      <img class="reactionImg" src="../../../assets/images/reaction/Rlike.png" alt="" />
    </div>

    <div class="notifyprofileDiv">
      <img class="notifyprofileImg" src="../../../assets/images/postProfile/Ellipse 19.png" alt="" />
      <div class="notifyprofileInfo">
        <h1 class="notifyprofileName">Fazlul Hauque React on your post</h1>
        <p class="notifyReactionTime">About 1 hour ago</p>
      </div>
      <img class="reactionImg" src="../../../assets/images/reaction/Runlike.png" alt="" />
    </div>

    <div class="notifyprofileDiv">
      <img class="notifyprofileImg" src="../../../assets/images/postProfile/Ellipse 19.png" alt="" />
      <div class="notifyprofileInfo">
        <h1 class="notifyprofileName">Fazlul Hauque React on your post</h1>
        <p class="notifyReactionTime">About 1 hour ago</p>
      </div>
      <img class="reactionImg" src="../../../assets/images/reaction/Rheart.png" alt="" />
    </div>

    <!-- l --------------------------------------------------------------------------- -->

    <h1 class="newHeader">Earlier</h1>

    <div class="notifyprofileDiv">
      <img class="notifyprofileImg" src="../../../assets/images/postProfile/Ellipse 19.png" alt="" />
      <div class="notifyprofileInfo">
        <h1 class="notifyprofileName">Fazlul Hauque React on your post</h1>
        <p class="notifyReactionTime">About 1 hour ago</p>
      </div>
      <img class="reactionImg" src="../../../assets/images/reaction/Rlike.png" alt="" />
    </div>

    <div class="notifyprofileDiv">
      <img class="notifyprofileImg" src="../../../assets/images/postProfile/Ellipse 19.png" alt="" />
      <div class="notifyprofileInfo">
        <h1 class="notifyprofileName">Fazlul Hauque React on your post</h1>
        <p class="notifyReactionTime">About 1 hour ago</p>
      </div>
      <img class="reactionImg" src="../../../assets/images/reaction/Runlike.png" alt="" />
    </div>

    <div class="notifyprofileDiv">
      <img class="notifyprofileImg" src="../../../assets/images/postProfile/Ellipse 19.png" alt="" />
      <div class="notifyprofileInfo">
        <h1 class="notifyprofileName">Fazlul Hauque React on your post</h1>
        <p class="notifyReactionTime">About 1 hour ago</p>
      </div>
      <img class="reactionImg" src="../../../assets/images/reaction/Rheart.png" alt="" />
    </div>

    <div class="notifyprofileDiv">
      <img class="notifyprofileImg" src="../../../assets/images/postProfile/Ellipse 19.png" alt="" />
      <div class="notifyprofileInfo">
        <h1 class="notifyprofileName">Fazlul Hauque React on your post</h1>
        <p class="notifyReactionTime">About 1 hour ago</p>
      </div>
      <img class="reactionImg" src="../../../assets/images/reaction/Rlike.png" alt="" />
    </div>

    <div class="notifyprofileDiv">
      <img class="notifyprofileImg" src="../../../assets/images/postProfile/Ellipse 19.png" alt="" />
      <div class="notifyprofileInfo">
        <h1 class="notifyprofileName">Fazlul Hauque React on your post</h1>
        <p class="notifyReactionTime">About 1 hour ago</p>
      </div>
      <img class="reactionImg" src="../../../assets/images/reaction/Runlike.png" alt="" />
    </div>

    <div class="notifyprofileDiv">
      <img class="notifyprofileImg" src="../../../assets/images/postProfile/Ellipse 19.png" alt="" />
      <div class="notifyprofileInfo">
        <h1 class="notifyprofileName">Fazlul Hauque React on your post</h1>
        <p class="notifyReactionTime">About 1 hour ago</p>
      </div>
      <img class="reactionImg" src="../../../assets/images/reaction/Rheart.png" alt="" />
    </div>
  </div>
</div>

<!----------------------------------------------- user profile section ------------------------------------------------------------------ -->

<div class="user-Profile UserProfileMainDiv"
  [class]="userProfile == true ? 'userProfile-active' : 'userProfile-inactive'">
  <!-- account profile  -->
  <div class="uProDiv">
    <div class="userInfoDiv">
      <img class="userInfoImg" src="../../../assets/images/postProfile/Ellipse 21.png" alt="" />
      <div class="userNameDiv">
        <h1>Md Junayed</h1>
        <p>Students</p>
      </div>
    </div>
    <button class="closeBtn" (click)="ownCloseBtn()">X</button>
  </div>

  <!-- other info  -->
  <div class="otherAccountDiv">


    <!-- ------------------------PROFILE section---------------------------------- -->


    <div class="AllAccountDiv">
      <mat-accordion>
        <mat-expansion-panel hideToggle class="hideToggle">
          <mat-expansion-panel-header class="All-info-BTN">
            <mat-panel-title class="All-info-Titel">
              <button class="All-header-BTN proBtn"> <img class="proImg"
                  src="../../../assets/images/footerIcon/icon _profile default_.png" alt=""> PROFILE </button>
            </mat-panel-title>

          </mat-expansion-panel-header>
          <div class="dropDowMainDiv">
            <h1 class="profileName">First Name</h1>
            <input class="profileInputFiled" type="text" name="" id="" placeholder="First Name">
            <h1 class="profileName">Last Name</h1>
            <input class="profileInputFiled" type="text" name="" id="" placeholder="Last Name">

            <h1 class="profileName">Identity</h1>
            <select name="" id="" class="profileInputFiled">
              <option value="" class="identityOption IdentitySelect">Select</option>
              <option value="" class="identityOption">Student</option>
              <option value="" class="identityOption">Parent</option>
              <option value="" class="identityOption">Teacher</option>
            </select>
            <h1 class="profileName">Add Photo</h1>

            <!-- <input type="file" name="" id=""> -->
            <input class="profileInputFiled inputFile" type="file" name="" id="">

            <button class="UPDATE-BTN">UPDATE </button>


          </div>
        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">

        </mat-expansion-panel>
      </mat-accordion>
    </div>





    <!-- ------------------------veritfy section---------------------------------- -->

    <div class="AllAccountDiv">
      <mat-accordion>
        <mat-expansion-panel hideToggle class="hideToggle">
          <mat-expansion-panel-header class="All-info-BTN">
            <mat-panel-title class="All-info-Titel">
              <button class="All-header-BTN">Verify </button>
            </mat-panel-title>

          </mat-expansion-panel-header>
          <div class="dropDowMainDiv">
            <button class="CommmonBtn">Profile Verify</button>
            <button class="CommmonBtn">Page Verify</button>
            <button class="CommmonBtn">Club Verify</button>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">

        </mat-expansion-panel>
      </mat-accordion>
    </div>



    <!-- ------------------------Settings section---------------------------------- -->



    <div class="AllAccountDiv">
      <mat-accordion>
        <mat-expansion-panel hideToggle class="hideToggle">
          <mat-expansion-panel-header class="All-info-BTN">
            <mat-panel-title class="All-info-Titel">
              <button class="All-header-BTN">Settings </button>
            </mat-panel-title>

          </mat-expansion-panel-header>
          <div class="dropDowMainDiv">
            <button class="CommmonBtn">Change Password</button>
            <button class="CommmonBtn">Forgot Password</button>
            <button class="CommmonBtn">Change Number</button>
            <button class="CommmonBtn">Chat Delete</button>
            <button class="CommmonBtn">Block List</button>
            <button class="CommmonBtn">Account Delete</button>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">

        </mat-expansion-panel>
      </mat-accordion>
    </div>


    <button class="All-header-link">Helps & Settings </button>
    <button class="All-header-link">Report & Policy </button>
    <button class="All-header-link">About US </button>
    <button class="LOGOUT-BTN">LOGOUT </button>
  </div>

</div>

<!-- <div class="noti-Slider" [class]="notiSlider==true?'noti-Slider-active':'noti-Slider-inactive'">

</div> -->
