<!-- <div class="header-area">
  <app-header></app-header>
</div> -->

<!-- home page  -->

<section>
  <div class="homeMainDiv">
    <!-- left side nav section  -->
    <div class="leftSideNav">
      <div class="leftmainDiv">
        <div class="videoDiv">
          <img class="videoDivImg" src="../../../assets/images/footerIcon/icon _folder videos_.png" alt="" />
          <a href="" routerLink="/videos" routerLinkActive="router-link-active" >Videos</a>
        </div>

        <div class="">
          <div class="videoDiv">
            <img class="PageDivImg" src="../../../assets/images/footerIcon/illustration _Facebook Ad_.png" alt="" />
            <a href="" routerLink="/pages" routerLinkActive="router-link-active" >Pages</a>
          </div>
          <div class="SubPageDiv">
            <a class="submenus">ডিজাইন ক্লাব</a>
            <a class="submenus">Robotics Club</a>
            <a class="submenus">Math Club</a>
          </div>
        </div>

        <div class="videoDiv">
          <img class="videoDivImg" src="../../../assets/images/footerIcon/illustration _User Group_.png" alt="" />
          <a href="" routerLink="/clubs">Clubs</a>
        </div>

        <div class="SeeAll">
          <a href="">See All</a>
        </div>

        <div class="">
          <div class="videoDiv">
            <img class="educational" src="../../../assets/images/header/educational-institute.png" alt="" />
            <a href="" routerLink="/institutelist" >Institutes</a>
          </div>
          <div class="SubPageDiv">
            <a class="submenus">Rajuk Uttara Mode College</a>
            <a class="submenus">Uttara High School </a>
            <a class="submenus">Milestone School</a>
          </div>
        </div>

        <div class="SeeAll">
          <a href="">See All</a>
        </div>

        <div>
          <h1 class="advertise">Advertise</h1>
          <img class="advertiseImg" src="../../../assets/images/home/Rectangle 99.png" alt="" />
          <img class="advertiseImg" src="../../../assets/images/home/Rectangle 100.png" alt="" />
        </div>
      </div>
    </div>

    <!-- middle section  -->
    <div class="middlemenuMainDiv">
      <div class="middlesectionDiv">
        <!-- post section  -->
        <div class="postsection">
          <div class="PostInputFiledDiv">
            <input class="PostInputFiled" type="text" name="" id=""
              placeholder="Write your post or activites here..." />
          </div>
          <div class="postItemDiv">
            <div class="AllPostDiv">
              <button class="AllPostBtn">
                <img class="VideoClipImg" src="../../../assets/images/post/icon _Video Clip_.png" alt="" />
                Videos
              </button>
            </div>
            <div class="AllPostDiv">
              <button class="AllPostBtn">
                <img class="VideoClipImg photoImg" src="../../../assets/images/post/icon _photo size select actual_.png"
                  alt="" />
                Photos
              </button>
            </div>
            <div class="AllPostDiv">
              <button class="AllPostBtn">
                <img class="VideoClipImg" src="../../../assets/images/post/icon _emoji smile_.png" alt="" />
                Activities
              </button>
            </div>
            <div class="AllPostDiv">
              <button class="AllPostBtn">
                Looking for<img class="LookingImg" src="../../../assets/images/post/icon _keyboard arrow down icon_.png"
                  alt="" />
              </button>
            </div>
          </div>
        </div>

        <!-- text post filed Section  -->
        <div class="textPostMainDiv">
          <!-- profile info  -->
          <div class="postProfileMainDiv">
            <div class="postProfileImgDiv">
              <img class="postProfileImg" src="../../../assets/images/postProfile/Ellipse 19.png" alt="" />
            </div>
            <div class="postProfileDtailsDiv">
              <h1 class="postProfileDtailsHTag">Jason Roy</h1>
              <p class="postProfileDtailsPTag">Teacher</p>
              <button class="postProfileDtailsBtn">1 hour ago. ALL</button>
            </div>
          </div>
          <!-- post  -->
          <div class="postText">
            <p class="postTextPtag">
              It is a long established fact that a reader will be distracted by
              the readable content of a page when looking at its layout.
            </p>
          </div>
          <!-- comment  -->
          <div class="PostReactionDiv">
            <div class="reactionAll">
              <div class="individualDiv">
                <button class="IndiBtn">
                  <img class="IndiImg" src="../../../assets/images/reaction/icon _like_.png" alt="" />
                </button>
              </div>
            </div>

            <div class="reactionAll">
              <div class="individualDiv">
                <button class="IndiBtn">
                  <img class="IndiImg" src="../../../assets/images/reaction/icon _like_ (1).png" alt="" />
                </button>
              </div>
            </div>

            <div class="reactionAll">
              <div class="individualDiv">
                <button class="IndiBtn">
                  <img class="IndiImg" src="../../../assets/images/reaction/icon _heart dislike outline_.png"
                    alt="" />Hate
                </button>
              </div>
            </div>

            <div class="reactionAll">
              <div class="individualDiv">
                <button class="IndiBtn">
                  <img class="IndiImg" src="../../../assets/images/reaction/icon _comment_.png" alt="" />Comment
                </button>
              </div>
            </div>

            <div class="reactionAll">
              <div class="individualDiv">
                <button class="IndiBtn">
                  <img class="IndiImg" src="../../../assets/images/reaction/icon _share_.png" alt="" />Share
                </button>
              </div>
            </div>
          </div>
        </div>

        <!-- text post filed Section  -->
        <!-- 2nd post bangla  -->
        <div class="textPostMainDiv">
          <!-- profile info  -->
          <div class="postProfileMainDiv">
            <div class="postProfileImgDiv">
              <img class="postProfileImg" src="../../../assets/images/postProfile/Ellipse 20.png" alt="" />
            </div>
            <div class="postProfileDtailsDiv">
              <h1 class="postProfileDtailsHTag">ডিজাইন ক্লাব</h1>
              <p class="postProfileDtailsPTag">Designing club</p>
              <button class="postProfileDtailsBtn">1 hour ago. ALL</button>
            </div>
          </div>
          <!-- post  -->
          <div class="postText">
            <p class="postTextPtag">
              জীবের মধ্যে সবচেয়ে সম্পূর্ণতা মানুষের। কিন্তু সবচেয়ে অসম্পূর্ণ
              হয়ে সে জন্মগ্রহণ করে। বাঘ ভালুক তার জীবনযাত্রার পনেরো- আনা মূলধন
              নিয়ে আসে প্রকৃতির মালখানা থেকে।
            </p>
          </div>
          <!-- comment  -->
          <div class="PostReactionDiv">
            <div class="reactionAll">
              <div class="individualDiv">
                <button class="IndiBtn">
                  <img class="IndiImg" src="../../../assets/images/reaction/icon _like_.png" alt="" />
                </button>
              </div>
            </div>

            <div class="reactionAll">
              <div class="individualDiv">
                <button class="IndiBtn">
                  <img class="IndiImg" src="../../../assets/images/reaction/icon _like_ (1).png" alt="" />
                </button>
              </div>
            </div>

            <div class="reactionAll">
              <div class="individualDiv">
                <button class="IndiBtn">
                  <img class="IndiImg" src="../../../assets/images/reaction/icon _heart dislike outline_.png"
                    alt="" />Hate
                </button>
              </div>
            </div>

            <div class="reactionAll">
              <div class="individualDiv">
                <button class="IndiBtn">
                  <img class="IndiImg" src="../../../assets/images/reaction/icon _comment_.png" alt="" />Comment
                </button>
              </div>
            </div>

            <div class="reactionAll">
              <div class="individualDiv">
                <button class="IndiBtn">
                  <img class="IndiImg" src="../../../assets/images/reaction/icon _share_.png" alt="" />Share
                </button>
              </div>
            </div>
          </div>
        </div>

        <!-- video or  image filed section  -->

        <div class="videoSectionMainDiv">
          <div class="SubInfoDiv">
            <!-- info section  -->
            <div class="">
              <div class="postProfileMainDiv">
                <div class="postProfileImgDiv">
                  <img class="postProfileImg" src="../../../assets/images/postProfile/Ellipse 21.png" alt="" />
                </div>
                <div class="postProfileDtailsDiv">
                  <h1 class="postProfileDtailsHTag">Jason Roy</h1>
                  <p class="postProfileDtailsPTag">Teacher</p>
                  <button class="postProfileDtailsBtn">1 hour ago. ALL</button>
                </div>
              </div>

              <!-- post  -->
              <div class="postText">
                <p class="postTextPtag">
                  It is a long established fact that a reader will be distracted
                  by the readable content of a page when looking at its layout.
                </p>
              </div>
            </div>

            <!-- video or img section  -->
            <div class="videoImgMainDiv">
              <img class="postImg" src="../../../assets/images/postProfile/Rectangle 71.png" alt="" />
            </div>
          </div>

          <!-- comment  -->
          <div class="PostReactionDiv">
            <div class="reactionAll">
              <div class="individualDiv">
                <button class="IndiBtn">
                  <img class="IndiImg" src="../../../assets/images/reaction/icon _like_.png" alt="" />
                </button>
              </div>
            </div>

            <div class="reactionAll">
              <div class="individualDiv">
                <button class="IndiBtn">
                  <img class="IndiImg" src="../../../assets/images/reaction/icon _like_ (1).png" alt="" />
                </button>
              </div>
            </div>

            <div class="reactionAll">
              <div class="individualDiv">
                <button class="IndiBtn">
                  <img class="IndiImg" src="../../../assets/images/reaction/icon _heart dislike outline_.png"
                    alt="" />Hate
                </button>
              </div>
            </div>

            <div class="reactionAll">
              <div class="individualDiv">
                <button class="IndiBtn">
                  <img class="IndiImg" src="../../../assets/images/reaction/icon _comment_.png" alt="" />Comment
                </button>
              </div>
            </div>

            <div class="reactionAll">
              <div class="individualDiv">
                <button class="IndiBtn">
                  <img class="IndiImg" src="../../../assets/images/reaction/icon _share_.png" alt="" />Share
                </button>
              </div>
            </div>
          </div>
        </div>


        <div class="videoSectionMainDiv">
          <div class="SubInfoDiv">
            <!-- info section  -->
            <div class="">
              <div class="postProfileMainDiv">
                <div class="postProfileImgDiv">
                  <img class="postProfileImg" src="../../../assets/images/postProfile/Ellipse 21.png" alt="" />
                </div>
                <div class="postProfileDtailsDiv">
                  <h1 class="postProfileDtailsHTag">Jason Roy</h1>
                  <p class="postProfileDtailsPTag">Teacher</p>
                  <button class="postProfileDtailsBtn">1 hour ago. ALL</button>
                </div>
              </div>

              <!-- post  -->
              <div class="postText">
                <p class="postTextPtag">
                  It is a long established fact that a reader will be distracted
                  by the readable content of a page when looking at its layout.
                </p>
              </div>
            </div>

            <!-- video or img section  -->
            <div class="videoImgMainDiv">
              <img class="postImg" src="../../../assets/images/postProfile/Rectangle 71.png" alt="" />
            </div>
          </div>

          <!-- comment  -->
          <div class="PostReactionDiv">
            <div class="reactionAll">
              <div class="individualDiv">
                <button class="IndiBtn">
                  <img class="IndiImg" src="../../../assets/images/reaction/icon _like_.png" alt="" />
                </button>
              </div>
            </div>

            <div class="reactionAll">
              <div class="individualDiv">
                <button class="IndiBtn">
                  <img class="IndiImg" src="../../../assets/images/reaction/icon _like_ (1).png" alt="" />
                </button>
              </div>
            </div>

            <div class="reactionAll">
              <div class="individualDiv">
                <button class="IndiBtn">
                  <img class="IndiImg" src="../../../assets/images/reaction/icon _heart dislike outline_.png"
                    alt="" />Hate
                </button>
              </div>
            </div>

            <div class="reactionAll">
              <div class="individualDiv">
                <button class="IndiBtn">
                  <img class="IndiImg" src="../../../assets/images/reaction/icon _comment_.png" alt="" />Comment
                </button>
              </div>
            </div>

            <div class="reactionAll">
              <div class="individualDiv">
                <button class="IndiBtn">
                  <img class="IndiImg" src="../../../assets/images/reaction/icon _share_.png" alt="" />Share
                </button>
              </div>
            </div>
          </div>
        </div>


        <div class="videoSectionMainDiv">
          <div class="SubInfoDiv">
            <!-- info section  -->
            <div class="">
              <div class="postProfileMainDiv">
                <div class="postProfileImgDiv">
                  <img class="postProfileImg" src="../../../assets/images/postProfile/Ellipse 21.png" alt="" />
                </div>
                <div class="postProfileDtailsDiv">
                  <h1 class="postProfileDtailsHTag">Jason Roy</h1>
                  <p class="postProfileDtailsPTag">Teacher</p>
                  <button class="postProfileDtailsBtn">1 hour ago. ALL</button>
                </div>
              </div>

              <!-- post  -->
              <div class="postText">
                <p class="postTextPtag">
                  It is a long established fact that a reader will be distracted
                  by the readable content of a page when looking at its layout.
                </p>
              </div>
            </div>

            <!-- video or img section  -->
            <div class="videoImgMainDiv">
              <img class="postImg" src="../../../assets/images/postProfile/Rectangle 71.png" alt="" />
            </div>
          </div>

          <!-- comment  -->
          <div class="PostReactionDiv">
            <div class="reactionAll">
              <div class="individualDiv">
                <button class="IndiBtn">
                  <img class="IndiImg" src="../../../assets/images/reaction/icon _like_.png" alt="" />
                </button>
              </div>
            </div>

            <div class="reactionAll">
              <div class="individualDiv">
                <button class="IndiBtn">
                  <img class="IndiImg" src="../../../assets/images/reaction/icon _like_ (1).png" alt="" />
                </button>
              </div>
            </div>

            <div class="reactionAll">
              <div class="individualDiv">
                <button class="IndiBtn">
                  <img class="IndiImg" src="../../../assets/images/reaction/icon _heart dislike outline_.png"
                    alt="" />Hate
                </button>
              </div>
            </div>

            <div class="reactionAll">
              <div class="individualDiv">
                <button class="IndiBtn">
                  <img class="IndiImg" src="../../../assets/images/reaction/icon _comment_.png" alt="" />Comment
                </button>
              </div>
            </div>

            <div class="reactionAll">
              <div class="individualDiv">
                <button class="IndiBtn">
                  <img class="IndiImg" src="../../../assets/images/reaction/icon _share_.png" alt="" />Share
                </button>
              </div>
            </div>
          </div>
        </div>
        
      </div>
    </div>


    <!-- right side menu  -->
    <div class="rightSideMainDiv">
      <!-- Add to your feed  -->
      <div class="addFeedDiv">
        <h1 class="addFeedHeader">Add to your feed</h1>
        <!-- follow card  -->
        <div class="addFollowDiv">
          <img class="addFollowImg" src="../../../assets/images/postProfile/Ellipse 19.png" alt="" />
          <div>
            <h1 class="personName">Jason Roy</h1>
            <p class="personTitle">Teacher</p>
          </div>
          <button class="addFollowBtn">Follow</button>
        </div>

        <div class="addFollowDiv">
          <img class="addFollowImg" src="../../../assets/images/postProfile/Ellipse 20.png" alt="" />
          <div>
            <h1 class="personName">Jason Roy</h1>
            <p class="personTitle">Teacher</p>
          </div>
          <button class="addFollowBtn">Follow</button>
        </div>

        <div class="addFollowDiv">
          <img class="addFollowImg" src="../../../assets/images/postProfile/Ellipse 21.png" alt="" />
          <div>
            <h1 class="personName">Jason Roy</h1>
            <p class="personTitle">Teacher</p>
          </div>
          <button class="addFollowBtn">Follow</button>
        </div>

        <div class="addFollowDiv">
          <img class="addFollowImg" src="../../../assets/images/postProfile/Ellipse 19.png" alt="" />
          <div>
            <h1 class="personName">Jason Roy</h1>
            <p class="personTitle">Teacher</p>
          </div>
          <button class="addFollowBtn">Follow</button>
        </div>

        <div class="followBtnDiv">
          <button class="viewAllBtn">
            View all documantations
            <img class="arrowRight" src="../../../assets/images/post/icon _arrow right icon_.png" alt="" />
          </button>
        </div>
      </div>

      <!-- Recent G Chatting List  -->
      <div class="recentChatMainDiv">
        <div class="">
          <h1 class="addFeedHeader">Recent G Chatting List</h1>
          <!-- chat card  -->
          <button class="recentChatProfileDiv">
            <img class="recentChatProfileImg" src="../../../assets/images/postProfile/Ellipse 19.png" alt="" />
            Jason Roy
          </button>

          <button class="recentChatProfileDiv">
            <img class="recentChatProfileImg" src="../../../assets/images/postProfile/Ellipse 21.png" alt="" />
            Jason Roy
          </button>

          <button class="recentChatProfileDiv">
            <img class="recentChatProfileImg" src="../../../assets/images/postProfile/Ellipse 20.png" alt="" />
            Jason Roy
          </button>

          <button class="recentChatProfileDiv">
            <img class="recentChatProfileImg" src="../../../assets/images/postProfile/Ellipse 21.png" alt="" />
            Jason Roy
          </button>

          <button class="recentChatProfileDiv">
            <img class="recentChatProfileImg" src="../../../assets/images/postProfile/Ellipse 19.png" alt="" />
            Jason Roy
          </button>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- <div class="footer-area">
  <!-- <app-footer></app-footer> -->
<!-- </div> -->
