 .homeMainDiv {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr 4fr;
  position: relative;
}

.leftSideNav {
  margin-left: 25px;
  border-right: 1px solid rgba(0, 0, 0, 0.21);
// transform: rotate(90deg);
padding-right: 30px;
// position: absolute;
}

.leftmainDiv {
  margin-top: 28px;
}

.videoDiv {
  display: flex;
  gap: 12px;
  align-items: center;
  margin-top: 20px;
  position: relative;
  width: 100%;
}

.videoDivImg {
  width: 26px;
}

.videoDivImg1 {
  width: 23.18px;
  height: 19.16px;
}

.videoDiv a {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}

.videoSearchFiled {
  width: 303px;
  height: 29px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.6);
  border-radius: 20px;
  padding-left: 50px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: rgba(0, 0, 0, 0.6);
  margin: 20px 0;
}

.searchIcon {
  width: 22px;
  height: 17px;
  position: absolute;
  margin-left: 17px;
}


.follow120Page{
  width: 306px;
height: 36px;
color: #ffffff;
font-weight: 500;
font-size: 18px;
line-height: 22px;
background: #5B68C0;
border-radius: 5px;
display: flex;
flex-direction: column;
justify-content: center;
// flex-direction: column;
text-align: center;

}

.AllVideoDiv {

  padding-bottom: 10px;
  margin-top: 20px;
}



.AllPagesBtn{
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
  font-weight: 400;
font-size: 16px;
line-height: 19px;
color: #000000;
border: none;
background-color: #ffffff;
width: 100%;
}

.AllPagesBtn:hover {
  background-color: skyblue;
}

.SuggestionPagesMainDiv{
  margin-bottom: 80px;
}



.videoImg {
  width: 35px;
  height: 35px;
  //border: 1px solid #E45720;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}






.SeeAll {
  display: flex;
  align-items: center;
  justify-content: center;
  // margin: 4px 77px 0px 0px;
  margin-top: 15px;
}

.SeeAll a {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #e45720;
}

.createNewPage{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 307px;
height: 39px;
background: #E45720;
border-radius: 10px;
font-weight: 500;
font-size: 18px;
line-height: 22px;
color: #FFFFFF;
margin-top: 15px;
}

.createNewPage:hover{
background-color: skyblue;
color: #000000;
}
// right side menu-----------------------------------------------------

.rightSideMainDiv {
  margin: 0px 0px 90px 8%;
  /* display: flex; */
  /* align-items: center; */
  flex-direction: column;
  width: 90%;
}

.addFeedDiv {
  width: 100%;
  // height: 451px;
  background: #ffffff;
  // border: 0.3px solid #000000;
  // box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  // border-radius: 5px;
  margin-top: 10px;
}

.addFeedHeader {
  font-weight: 600;
font-size: 20px;
line-height: 24px;
color: #000000;
  padding: 10px 0 0 8px;
}

.addFollowDiv {
  width: 100%;
  // height: 91px;
  margin-top: 20px;

  background: #FFFFFF;
  border: 0.4px solid rgba(0, 0, 0, 0.63);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: grid;
  grid-template-columns: 1fr 1fr;

}

.PagesProfile{
  display: flex;
  // flex-direction: column;
  align-items: center;
  // justify-content: center;
  gap: 10px;
  // height: 12vh;
  padding: 4% 8%;
}
.addFollowImg {
  width: 54px;
  height: 54px;
}

.PagesProfileTitel{
  display: flex;
  flex-direction: column;
  // align-items: center;
  justify-content: center;
  gap: 7px;
}

.personName {
  font-weight: 500;
  font-size: 20px;
  line-height: 22px;

  color: #000000;
}

.personTitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 17px;

  color: #e45720;
}

.personTitle1{
  font-weight: 400;
font-size: 16px;
line-height: 19px;

color: rgba(0, 0, 0, 0.6);
}

.ClubeDiv{
  display: flex;
  // flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}


.NotifyPostDIv{
  display: grid;
  grid-template-columns: 1fr 1fr;

}

.notifyDiv{
  display: flex;
  align-items: center;
  // justify-content: center;
  flex-direction: column;
  padding-top: 5%;
}

.TitelTag{
  font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;

color: rgba(0, 0, 0, 0.56);

}
