<!-- home page  -->

<section>
  <div class="homeMainDiv">
    <!-- left side nav section  -->
    <div class="leftSideNav">
      <div class="leftmainDiv">
        <div class="videoDiv">
          <img class="videoDivImg" src="../../../assets/images/footerIcon/illustration _Facebook Ad_.png" alt="" />
          <a href="" routerLink="/videos" routerLinkActive="router-link-active">Pages</a>
        </div>

        <div class="">
          <div class="videoDiv">
            <input class="videoSearchFiled" type="text" name="" id="" placeholder="Search pages" />
            <img class="searchIcon" src="../../../assets/images/header/icon _Search_.png" alt="" />
          </div>

          <a class="follow120Page" href="">You Follow 120 pages</a>
        </div>

        <div class="">
          <div class="videoDiv">
            <a href="">Pages you follow</a>
          </div>

          <div class="AllVideoDiv">
            <button class="AllPagesBtn">
              <img class="videoImg" src="../../../assets/images/video img/Rectangle 94.png" alt="" />
              Omegaitsys
            </button>
            <button class="AllPagesBtn">
              <img class="videoImg" src="../../../assets/images/video img/Rectangle 94.png" alt="" />
              বিজ্ঞান ক্লাব
            </button>
            <button class="AllPagesBtn">
              <img class="videoImg" src="../../../assets/images/video img/Rectangle 94.png" alt="" />
              সাইন্স ক্লাব
            </button>
            <button class="AllPagesBtn">
              <img class="videoImg" src="../../../assets/images/video img/Rectangle 94.png" alt="" />
              তথ্য ও প্রযুক্তি ক্লাব
            </button>
            <button class="AllPagesBtn">
              <img class="videoImg" src="../../../assets/images/video img/Rectangle 94.png" alt="" />
              রোবোটিক্স ক্লাব
            </button>
            <button class="AllPagesBtn">
              <img class="videoImg" src="../../../assets/images/video img/Rectangle 94.png" alt="" />
              তথ্য ও প্রযুক্তি ক্লাব
            </button>

            <div class="SeeAll">
              <a href="">See All</a>
            </div>

            <a class="createNewPage" href="">Create a New page</a>
          </div>
        </div>

        <!---------------- Suggestion pages------------------------- -->

        <div class="SuggestionPagesMainDiv">
          <div class="videoDiv">
            <a href="">Suggestion pages</a>
          </div>

          <div class="AllVideoDiv">
            <button class="AllPagesBtn">
              <img class="videoImg" src="../../../assets/images/video img/Rectangle 94.png" alt="" />
              Omegaitsys
            </button>
            <button class="AllPagesBtn">
              <img class="videoImg" src="../../../assets/images/video img/Rectangle 94.png" alt="" />
              বিজ্ঞান ক্লাব
            </button>
            <button class="AllPagesBtn">
              <img class="videoImg" src="../../../assets/images/video img/Rectangle 94.png" alt="" />
              সাইন্স ক্লাব
            </button>
            <button class="AllPagesBtn">
              <img class="videoImg" src="../../../assets/images/video img/Rectangle 94.png" alt="" />
              তথ্য ও প্রযুক্তি ক্লাব
            </button>
            <button class="AllPagesBtn">
              <img class="videoImg" src="../../../assets/images/video img/Rectangle 94.png" alt="" />
              রোবোটিক্স ক্লাব
            </button>
            <button class="AllPagesBtn">
              <img class="videoImg" src="../../../assets/images/video img/Rectangle 94.png" alt="" />
              তথ্য ও প্রযুক্তি ক্লাব
            </button>

            <div class="SeeAll">
              <a href="">See more</a>
            </div>

            <!-- <a class="createNewPage" href="">Create a New page</a> -->
          </div>
        </div>
      </div>
    </div>

    <!-- right side menu  -->
    <div class="rightSideMainDiv">
      <!-- Add to your feed  -->
      <div class="addFeedDiv">
        <h1 class="addFeedHeader">Pages You Created</h1>

        <!-- follow card  -->

        <div class="addFollowDiv">
          <div class="PagesProfile">
            <img class="addFollowImg" src="../../../assets/images/postProfile/Ellipse 19.png" alt="" />
            <div class="PagesProfileTitel">
              <h1 class="personName">বিজ্ঞান ক্লাব</h1>
              <div class="ClubeDiv">
                <a class="personTitle">Club</a>
                <a class="personTitle1">122 Followers</a>
              </div>
            </div>
          </div>

          <div class="NotifyPostDIv">
            <div class="notifyDiv">
              <h1 class="TitelTag">Notifications</h1>
            </div>

            <div class="notifyDiv">
              <h1 class="TitelTag">Posts</h1>
            </div>
          </div>
        </div>

        <div class="addFollowDiv">
          <div class="PagesProfile">
            <img class="addFollowImg" src="../../../assets/images/postProfile/Ellipse 19.png" alt="" />
            <div class="PagesProfileTitel">
              <h1 class="personName">বিজ্ঞান ক্লাব</h1>
              <div class="ClubeDiv">
                <a class="personTitle">Club</a>
                <a class="personTitle1">122 Followers</a>
              </div>
            </div>
          </div>

          <div class="NotifyPostDIv">
            <div class="notifyDiv">
              <h1 class="TitelTag">Notifications</h1>
            </div>

            <div class="notifyDiv">
              <h1 class="TitelTag">Posts</h1>
            </div>
          </div>
        </div>

        <div class="addFollowDiv">
          <div class="PagesProfile">
            <img class="addFollowImg" src="../../../assets/images/postProfile/Ellipse 19.png" alt="" />
            <div class="PagesProfileTitel">
              <h1 class="personName">বিজ্ঞান ক্লাব</h1>
              <div class="ClubeDiv">
                <a class="personTitle">Club</a>
                <a class="personTitle1">122 Followers</a>
              </div>
            </div>
          </div>

          <div class="NotifyPostDIv">
            <div class="notifyDiv">
              <h1 class="TitelTag">Notifications</h1>
            </div>

            <div class="notifyDiv">
              <h1 class="TitelTag">Posts</h1>
            </div>
          </div>
        </div>

        <div class="addFollowDiv">
          <div class="PagesProfile">
            <img class="addFollowImg" src="../../../assets/images/postProfile/Ellipse 19.png" alt="" />
            <div class="PagesProfileTitel">
              <h1 class="personName">বিজ্ঞান ক্লাব</h1>
              <div class="ClubeDiv">
                <a class="personTitle">Club</a>
                <a class="personTitle1">122 Followers</a>
              </div>
            </div>
          </div>

          <div class="NotifyPostDIv">
            <div class="notifyDiv">
              <h1 class="TitelTag">Notifications</h1>
            </div>

            <div class="notifyDiv">
              <h1 class="TitelTag">Posts</h1>
            </div>
          </div>
        </div>

        <div class="addFollowDiv">
          <div class="PagesProfile">
            <img class="addFollowImg" src="../../../assets/images/postProfile/Ellipse 19.png" alt="" />
            <div class="PagesProfileTitel">
              <h1 class="personName">বিজ্ঞান ক্লাব</h1>
              <div class="ClubeDiv">
                <a class="personTitle">Club</a>
                <a class="personTitle1">122 Followers</a>
              </div>
            </div>
          </div>

          <div class="NotifyPostDIv">
            <div class="notifyDiv">
              <h1 class="TitelTag">Notifications</h1>
            </div>

            <div class="notifyDiv">
              <h1 class="TitelTag">Posts</h1>
            </div>
          </div>
        </div>

        <div class="addFollowDiv">
          <div class="PagesProfile">
            <img class="addFollowImg" src="../../../assets/images/postProfile/Ellipse 19.png" alt="" />
            <div class="PagesProfileTitel">
              <h1 class="personName">বিজ্ঞান ক্লাব</h1>
              <div class="ClubeDiv">
                <a class="personTitle">Club</a>
                <a class="personTitle1">122 Followers</a>
              </div>
            </div>
          </div>

          <div class="NotifyPostDIv">
            <div class="notifyDiv">
              <h1 class="TitelTag">Notifications</h1>
            </div>

            <div class="notifyDiv">
              <h1 class="TitelTag">Posts</h1>
            </div>
          </div>
        </div>

        <div class="addFollowDiv">
          <div class="PagesProfile">
            <img class="addFollowImg" src="../../../assets/images/postProfile/Ellipse 19.png" alt="" />
            <div class="PagesProfileTitel">
              <h1 class="personName">বিজ্ঞান ক্লাব</h1>
              <div class="ClubeDiv">
                <a class="personTitle">Club</a>
                <a class="personTitle1">122 Followers</a>
              </div>
            </div>
          </div>

          <div class="NotifyPostDIv">
            <div class="notifyDiv">
              <h1 class="TitelTag">Notifications</h1>
            </div>

            <div class="notifyDiv">
              <h1 class="TitelTag">Posts</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


