<section>
  <div class="loginMainDIV">
    <div>
      <!-- header section  -->

      <div class="headerDiv">
        <a class="RegisLoginBTN" href="" routerLink="/login"
          routerLinkActive="router-link-active">Register/Login</a>
        <a class="helpBTN" href="" routerLink="/home" routerLinkActive="router-link-active">Help</a>
      </div>
    </div>

<!-- registration pages  -->

<div class="logo">
  <img class="logooImg" src="../..//../assets/images/regform/reg.png" alt="">

  <p>Please Select Your Identity
    For Registration</p>
</div>

<div class="regAllBtn">
  <a class="regBtnText" href="" routerLink="/regform" routerLinkActive="router-link-active"  >Students</a>
  <a class="regBtnText" href="" routerLink="/regform" routerLinkActive="router-link-active" >Teachers</a>
  <a class="regBtnText" href="" routerLink="/regform" routerLinkActive="router-link-active" >Parents</a>
  <a class="regBtnText" href="" routerLink="/regform" routerLinkActive="router-link-active" >Employee</a>
  <a class="regBtnText" href="" routerLink="/regform" routerLinkActive="router-link-active" >Others</a>
</div>


  </div>

  <div class="Info">
    <div class="SubInfo">
      <p class="Pleaselogin">www.stgoals.com</p>
      <p class="Pleaselogin">Powered by MY SOFTAKE</p>
    </div>
  </div>
</section>

<!-- <a href="" [routerLink]="['pagess']" routerLinkActive="router-link-active" >login</a> -->
