@import "./../../../theme/variables";
@import url("https://rsms.me/inter/inter.css");

section {
  background-color: #8aabff;
  height: 100vh;
  width: 100%;
  position: relative;
}

.loginMainDIV {
  // background-color: #8AABFF;
  // height: 100vh;
  // width: 100%;
}

.headerDiv {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.RegisLoginBTN {
  margin-top: 41px;
  margin-left: 52px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  color: #ffffff;
  width: 99px;
  height: 17px;
}

.helpBTN {
  margin-top: 41px;
  margin-right: 77px;
  float: right;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  justify-content: end;
  color: #ffffff;
}


.logo{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 1%;
  flex-direction: column;
}

.logooImg{
  width: 10%;
    height: 20%;

}

.logo p{
  width: 207px;
height: 38px;
padding-top: 15px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 19px;
text-align: center;
color: #E45720;
}

.regAllBtn{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 3%;
  flex-direction: column;
}


.regBtnText{
width: 362px;
height: 42px;
margin-bottom: 20px;
background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 5px;
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 17px;
color: rgba(0, 0, 0, 0.6);
display: flex;
align-items: center;
justify-content: center;
}

.regBtnText:hover{
background-color: #8aabff;
color: #FFFFFF;
}

.Info {
  position: absolute;
  bottom: 0px;
  width: 100%;
  margin-bottom: 20px;
}

.Pleaselogin {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  padding-left: 5px;

  color: #ffffff;
}

.SubInfo {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
