<!-- home page  -->

<section>
  <div class="homeMainDiv">
    <!-- left side nav section  -->
    <div class="leftSideNav">
      <div class="leftmainDiv">
        <div class="videoDiv">
          <img class="videoDivImg" src="../../../assets/images/footerIcon/icon _folder videos_.png" alt="" />
          <a href="" routerLink="/videos" routerLinkActive="router-link-active">Videos</a>
        </div>

        <div class="">
          <div class="videoDiv">
            <input class="videoSearchFiled" type="text" name="" id="" placeholder="Search video" />
            <img class="searchIcon" src="../../../assets/images/header/icon _Search_.png" alt="" />
          </div>
        </div>

        <div class="">
          <div class="videoDiv">
            <img class="videoDivImg" src="../../../assets/images/footerIcon/icon _save_.png" alt="" />
            <a href="">Save Videos</a>
          </div>

          <div class="AllVideoDiv">
            <div class="videoSubDiv">
              <img class="videoImg" src="../../../assets/images/video img/Rectangle 94.png" alt="" />
              <div class="postProfileDtailsDiv">
                <h1 class="postProfileDtailsHTag">Content Share</h1>
                <p class="postProfileDtailsPTag">9+ new video</p>
              </div>
            </div>

            <div class="videoSubDiv">
              <img class="videoImg" src="../../../assets/images/video img/Rectangle 95.png" alt="" />
              <div class="postProfileDtailsDiv">
                <h1 class="postProfileDtailsHTag">Content Share</h1>
                <p class="postProfileDtailsPTag">9+ new video</p>
              </div>
            </div>

            <div class="videoSubDiv">
              <img class="videoImg" src="../../../assets/images/video img/Rectangle 93.png" alt="" />
              <div class="postProfileDtailsDiv">
                <h1 class="postProfileDtailsHTag">Content Share</h1>
                <p class="postProfileDtailsPTag">9+ new video</p>
              </div>
            </div>

            <div class="SeeAll">
              <a href="">See All</a>
            </div>
          </div>

          <div class="AllVideoDiv suggestVideoDiv">
            <h1 class="suggestVideoDivHeader">Suggestion Videos</h1>
            <div class="videoSubDiv">
              <img class="videoImg" src="../../../assets/images/video img/Rectangle 94.png" alt="" />
              <div class="postProfileDtailsDiv">
                <h1 class="postProfileDtailsHTag">Content Share</h1>
                <p class="postProfileDtailsPTag">9+ new video</p>
              </div>
            </div>

            <div class="videoSubDiv">
              <img class="videoImg" src="../../../assets/images/video img/Rectangle 95.png" alt="" />
              <div class="postProfileDtailsDiv">
                <h1 class="postProfileDtailsHTag">Content Share</h1>
                <p class="postProfileDtailsPTag">9+ new video</p>
              </div>
            </div>

            <div class="videoSubDiv">
              <img class="videoImg" src="../../../assets/images/video img/Rectangle 93.png" alt="" />
              <div class="postProfileDtailsDiv">
                <h1 class="postProfileDtailsHTag">Content Share</h1>
                <p class="postProfileDtailsPTag">9+ new video</p>
              </div>
            </div>

            <div class="SeeAll">
              <a href="">See All</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- middle section  -->
    <div class="middlemenuMainDiv">
      <div class="middlesectionDiv">
        <!-- video or  image filed section  -->

        <!-- 1 number  -->

        <div class="videoSectionMainDiv">
          <div class="SubInfoDiv">
            <!-- info section  -->
            <div class="">
              <div class="postProfileMainDiv">
                <div class="postProfileImgDiv">
                  <img class="postProfileImg" src="../../../assets/images/postProfile/Ellipse 21.png" alt="" />
                </div>
                <div class="postProfileDtailsDiv">
                  <h1 class="postProfileDtailsHTag">Jason Roy</h1>
                  <p class="postProfileDtailsPTag">Teacher</p>
                  <button class="postProfileDtailsBtn">1 hour ago. ALL</button>
                </div>
              </div>

              <!-- post  -->
              <div class="postText">
                <p class="postTextPtag">
                  It is a long established fact that a reader will be distracted
                  by the readable content of a page when looking at its layout.
                </p>
              </div>
            </div>

            <!-- video or img section  -->
            <div class="videoImgMainDiv">
              <button class="videoDivMenu" mat-button [matMenuTriggerFor]="beforeMenu">
                <img src="../../../assets/images/footerIcon/icon _Overflow menu horizontal_.png" alt="" />
              </button>
              <mat-menu class="test" #beforeMenu="matMenu" xPosition="before">
                <button class="submenuBtn" mat-menu-item>
                  <img class="videoDivImg1" src="../../../assets/images/footerIcon/icon _save_.png" alt="" />
                  Save video
                </button>
                <button class="submenuBtn" mat-menu-item>
                  <img class="videoDivImg1" src="../../../assets/images/footerIcon/icon _Copy_.png" alt="" />
                  Copy Link
                </button>
                <button class="submenuBtn" mat-menu-item>
                  <img class="videoDivImg1" src="../../../assets/images/footerIcon/icon _user follow line_.png"
                    alt="" />
                  Follow
                </button>

                <button mat-menu-item></button>
              </mat-menu>

              <img class="postImg" src="../../../assets/images/postProfile/Rectangle 71.png" alt="" />
            </div>
          </div>

          <!-- comment  -->
          <div class="PostReactionDiv">
            <div class="reactionAll">
              <div class="individualDiv">
                <button class="IndiBtn">
                  <img class="IndiImg" src="../../../assets/images/reaction/icon _like_.png" alt="" />
                </button>
              </div>
            </div>

            <div class="reactionAll">
              <div class="individualDiv">
                <button class="IndiBtn">
                  <img class="IndiImg" src="../../../assets/images/reaction/icon _like_ (1).png" alt="" />
                </button>
              </div>
            </div>

            <div class="reactionAll">
              <div class="individualDiv">
                <button class="IndiBtn">
                  <img class="IndiImg" src="../../../assets/images/reaction/icon _heart dislike outline_.png"
                    alt="" />Hate
                </button>
              </div>
            </div>

            <div class="reactionAll">
              <div class="individualDiv">
                <button class="IndiBtn">
                  <img class="IndiImg" src="../../../assets/images/reaction/icon _comment_.png" alt="" />Comment
                </button>
              </div>
            </div>

            <div class="reactionAll">
              <div class="individualDiv">
                <button class="IndiBtn">
                  <img class="IndiImg" src="../../../assets/images/reaction/icon _share_.png" alt="" />Share
                </button>
              </div>
            </div>
          </div>
        </div>

        <!-- 2 number  -->

        <div class="videoSectionMainDiv">
          <div class="SubInfoDiv">
            <!-- info section  -->
            <div class="">
              <div class="postProfileMainDiv">
                <div class="postProfileImgDiv">
                  <img class="postProfileImg" src="../../../assets/images/postProfile/Ellipse 21.png" alt="" />
                </div>
                <div class="postProfileDtailsDiv">
                  <h1 class="postProfileDtailsHTag">Jason Roy</h1>
                  <p class="postProfileDtailsPTag">Teacher</p>
                  <button class="postProfileDtailsBtn">1 hour ago. ALL</button>
                </div>
              </div>

              <!-- post  -->
              <div class="postText">
                <p class="postTextPtag">
                  It is a long established fact that a reader will be distracted
                  by the readable content of a page when looking at its layout.
                </p>
              </div>
            </div>

            <!-- video or img section  -->
            <div class="videoImgMainDiv">
              <button class="videoDivMenu" mat-button [matMenuTriggerFor]="beforeMenu">
                <img src="../../../assets/images/footerIcon/icon _Overflow menu horizontal_.png" alt="" />
              </button>
              <mat-menu class="test" #beforeMenu="matMenu" xPosition="before">
                <button class="submenuBtn" mat-menu-item>
                  <img class="videoDivImg1" src="../../../assets/images/footerIcon/icon _save_.png" alt="" />
                  Save video
                </button>
                <button class="submenuBtn" mat-menu-item>
                  <img class="videoDivImg1" src="../../../assets/images/footerIcon/icon _Copy_.png" alt="" />
                  Copy Link
                </button>
                <button class="submenuBtn" mat-menu-item>
                  <img class="videoDivImg1" src="../../../assets/images/footerIcon/icon _user follow line_.png"
                    alt="" />
                  Follow
                </button>

                <button mat-menu-item></button>
              </mat-menu>

              <img class="postImg" src="../../../assets/images/postProfile/Rectangle 71.png" alt="" />
            </div>
          </div>

          <!-- comment  -->
          <div class="PostReactionDiv">
            <div class="reactionAll">
              <div class="individualDiv">
                <button class="IndiBtn">
                  <img class="IndiImg" src="../../../assets/images/reaction/icon _like_.png" alt="" />
                </button>
              </div>
            </div>

            <div class="reactionAll">
              <div class="individualDiv">
                <button class="IndiBtn">
                  <img class="IndiImg" src="../../../assets/images/reaction/icon _like_ (1).png" alt="" />
                </button>
              </div>
            </div>

            <div class="reactionAll">
              <div class="individualDiv">
                <button class="IndiBtn">
                  <img class="IndiImg" src="../../../assets/images/reaction/icon _heart dislike outline_.png"
                    alt="" />Hate
                </button>
              </div>
            </div>

            <div class="reactionAll">
              <div class="individualDiv">
                <button class="IndiBtn">
                  <img class="IndiImg" src="../../../assets/images/reaction/icon _comment_.png" alt="" />Comment
                </button>
              </div>
            </div>

            <div class="reactionAll">
              <div class="individualDiv">
                <button class="IndiBtn">
                  <img class="IndiImg" src="../../../assets/images/reaction/icon _share_.png" alt="" />Share
                </button>
              </div>
            </div>
          </div>
        </div>

        <!-- 3 number  -->

        <div class="videoSectionMainDiv">
          <div class="SubInfoDiv">
            <!-- info section  -->
            <div class="">
              <div class="postProfileMainDiv">
                <div class="postProfileImgDiv">
                  <img class="postProfileImg" src="../../../assets/images/postProfile/Ellipse 21.png" alt="" />
                </div>
                <div class="postProfileDtailsDiv">
                  <h1 class="postProfileDtailsHTag">Jason Roy</h1>
                  <p class="postProfileDtailsPTag">Teacher</p>
                  <button class="postProfileDtailsBtn">1 hour ago. ALL</button>
                </div>
              </div>

              <!-- post  -->
              <div class="postText">
                <p class="postTextPtag">
                  It is a long established fact that a reader will be distracted
                  by the readable content of a page when looking at its layout.
                </p>
              </div>
            </div>

            <!-- video or img section  -->
            <div class="videoImgMainDiv">
              <button class="videoDivMenu" mat-button [matMenuTriggerFor]="beforeMenu">
                <img src="../../../assets/images/footerIcon/icon _Overflow menu horizontal_.png" alt="" />
              </button>
              <mat-menu class="test" #beforeMenu="matMenu" xPosition="before">
                <button class="submenuBtn" mat-menu-item>
                  <img class="videoDivImg1" src="../../../assets/images/footerIcon/icon _save_.png" alt="" />
                  Save video
                </button>
                <button class="submenuBtn" mat-menu-item>
                  <img class="videoDivImg1" src="../../../assets/images/footerIcon/icon _Copy_.png" alt="" />
                  Copy Link
                </button>
                <button class="submenuBtn" mat-menu-item>
                  <img class="videoDivImg1" src="../../../assets/images/footerIcon/icon _user follow line_.png"
                    alt="" />
                  Follow
                </button>

                <button mat-menu-item></button>
              </mat-menu>
              <img class="postImg" src="../../../assets/images/postProfile/Rectangle 71.png" alt="" />
            </div>
          </div>

          <!-- comment  -->
          <div class="PostReactionDiv">
            <div class="reactionAll">
              <div class="individualDiv">
                <button class="IndiBtn">
                  <img class="IndiImg" src="../../../assets/images/reaction/icon _like_.png" alt="" />
                </button>
              </div>
            </div>

            <div class="reactionAll">
              <div class="individualDiv">
                <button class="IndiBtn">
                  <img class="IndiImg" src="../../../assets/images/reaction/icon _like_ (1).png" alt="" />
                </button>
              </div>
            </div>

            <div class="reactionAll">
              <div class="individualDiv">
                <button class="IndiBtn">
                  <img class="IndiImg" src="../../../assets/images/reaction/icon _heart dislike outline_.png"
                    alt="" />Hate
                </button>
              </div>
            </div>

            <div class="reactionAll">
              <div class="individualDiv">
                <button class="IndiBtn">
                  <img class="IndiImg" src="../../../assets/images/reaction/icon _comment_.png" alt="" />Comment
                </button>
              </div>
            </div>

            <div class="reactionAll">
              <div class="individualDiv">
                <button class="IndiBtn">
                  <img class="IndiImg" src="../../../assets/images/reaction/icon _share_.png" alt="" />Share
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- right side menu  -->
    <div class="rightSideMainDiv">
      <!-- Add to your feed  -->
      <div class="addFeedDiv">
        <h1 class="addFeedHeader">Recent New Videos</h1>
        <!-- follow card  -->
        <div class="addFollowDiv">
          <img class="addFollowImg" src="../../../assets/images/postProfile/Ellipse 19.png" alt="" />
          <div>
            <h1 class="personName">Content Share</h1>
            <p class="personTitle">9+ new video</p>
          </div>
        </div>

        <div class="addFollowDiv">
          <img class="addFollowImg" src="../../../assets/images/postProfile/Ellipse 20.png" alt="" />
          <div>
            <h1 class="personName">Content Share</h1>
            <p class="personTitle">9+ new video</p>
          </div>
        </div>

        <div class="addFollowDiv">
          <img class="addFollowImg" src="../../../assets/images/postProfile/Ellipse 21.png" alt="" />
          <div>
            <h1 class="personName">Content Share</h1>
            <p class="personTitle">9+ new video</p>
          </div>
        </div>

        <div class="addFollowDiv">
          <img class="addFollowImg" src="../../../assets/images/postProfile/Ellipse 19.png" alt="" />
          <div>
            <h1 class="personName">Content Share</h1>
            <p class="personTitle">9+ new video</p>
          </div>
        </div>

        <div class="addFollowDiv">
          <img class="addFollowImg" src="../../../assets/images/postProfile/Ellipse 21.png" alt="" />
          <div>
            <h1 class="personName">Content Share</h1>
            <p class="personTitle">9+ new video</p>
          </div>
        </div>
      </div>

      <!-- Recent View  -->
      <div class="">
        <h1 class="addFeedHeader">Recent View</h1>
        <!-- follow card  -->
        <div class="addFollowDiv">
          <img class="addFollowImg" src="../../../assets/images/postProfile/Ellipse 19.png" alt="" />
          <div>
            <h1 class="personName">Content Share</h1>
            <p class="personTitle">9+ new video</p>
          </div>
        </div>

        <div class="addFollowDiv">
          <img class="addFollowImg" src="../../../assets/images/postProfile/Ellipse 20.png" alt="" />
          <div>
            <h1 class="personName">Content Share</h1>
            <p class="personTitle">9+ new video</p>
          </div>
        </div>

        <div class="addFollowDiv">
          <img class="addFollowImg" src="../../../assets/images/postProfile/Ellipse 21.png" alt="" />
          <div>
            <h1 class="personName">Content Share</h1>
            <p class="personTitle">9+ new video</p>
          </div>
        </div>

        <div class="addFollowDiv">
          <img class="addFollowImg" src="../../../assets/images/postProfile/Ellipse 19.png" alt="" />
          <div>
            <h1 class="personName">Content Share</h1>
            <p class="personTitle">9+ new video</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- <div class="footer-area">
  <!-- <app-footer></app-footer> -->
<!-- </div> -->
